@import url(https://fonts.googleapis.com/css?family=Roboto:200,400,500) ;
body
{
	background: #f0f0f0;
	margin: 0;
	padding: 0;
	webkit-font-smoothing: antialiased;
}
h1
{
	font-family: Roboto,Arial;
	font-size: 24px;
	font-weight: 500;
	margin: 0;
	margin-top: 50px;
	padding: 0;
	text-align: center;
}
h2
{
	font-family: Roboto,Arial;
	font-size: 18px;
	font-weight: 200;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	text-align: center;
}
#menu
{
	font-family: Roboto,Arial;
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}
#menu *
{
	vertical-align: baseline;
}
#menu label
{
	padding-left: 5px;
	padding-right: 10px;
}
a
{
	color: inherit;
}
#no-gamepads-connected,#no-gamepad-support
{
	display: none;
	font-family: Roboto,Arial;
	font-size: 18px;
	font-weight: 200;
	line-height: 24px;
	padding: 100px 50px;
	text-align: center;
}
#no-gamepad-support.visible
{
	display: block;
}
#no-gamepads-connected.visible
{
	display: block;
}
#gamepads
{
	list-style: none;
	margin: 0;
	margin-top: 50px;
	padding: 0;
	text-align: center;
	white-space: nowrap;
}
#gamepads>li
{
	display: inline-block;
	height: 720px;
	margin-left: -30px;
	position: relative;
	white-space: normal;
	width: 940px;
	z-index: 102;
}
#gamepads>li.template
{
	display: none;
}
#gamepads>li::after
{
	background: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/gamepad-body.png.pagespeed.ce.rZwMSDb8-f.png);
	background-position: 120px 40px;
	background-repeat: no-repeat;
	background-size: 730px 499px;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;
}
#gamepads>li>.index
{
	color: #787878;
	font-family: Roboto,Arial;
	font-size: 40px;
	font-weight: 500;
	left: 437px;
	position: absolute;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.5);
	top: 300px;
	width: 100px;
	z-index: 500;
}
#gamepads>li>.name
{
	color: #e0e0e0;
	font-family: Roboto,Arial;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
	left: 385px;
	line-height: 30px;
	position: absolute;
	right: 352px;
	text-align: center;
	text-shadow: 0 0 1px silver;
	top: 154px;
	z-index: 500;
}
#gamepads>li>.buttons>::after
{
	background: #000;
	border-radius: 100%;
	content: "";
	opacity: 0;
	position: absolute;
}
#gamepads>li>.buttons>.pressed::after
{
	opacity: 0.5;
}
#gamepads>li>.buttons>.top-shoulder
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/wshoulder-top.png.pagespeed.ic.3eRG_0F3bo.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 164px 60px;
	height: 70px;
	position: absolute;
	width: 170px;
	z-index: 200;
}
#gamepads>li>.buttons>[name=button-left-shoulder-top]
{
	left: 185px;
	top: 66px;
}
#gamepads>li>.buttons>[name=button-right-shoulder-top]
{
	left: 618px;
	top: 64px;
}
#gamepads>li>.buttons>.top-shoulder.pressed
{
	margin-top: 5px;
}
#gamepads>li>.buttons>.bottom-shoulder
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/wshoulder-bottom.png.pagespeed.ic.oS4vCbV5kU.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 127px 44px;
	height: 70px;
	position: absolute;
	width: 170px;
	z-index: 150;
}
#gamepads>li>.buttons>[name=button-left-shoulder-bottom]
{
	left: 185px;
	top: 46px;
}
#gamepads>li>.buttons>[name=button-right-shoulder-bottom]
{
	left: 618px;
	top: 44px;
}
#gamepads>li>.buttons>.bottom-shoulder.pressed
{
	margin-top: 5px;
}
#gamepads>li>.buttons>.face
{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 42px 42px;
	height: 50px;
	position: absolute;
	width: 50px;
	z-index: 300;
}
#gamepads>li>.buttons>.face::after
{
	bottom: 5px;
	left: 5px;
	right: 5px;
	top: 5px;
}
#gamepads>li>.buttons>[name=button-1]
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-0.png.pagespeed.ce.XgAoumZYQ7.png);
	left: 676px;
	top: 241px;
}
#gamepads>li>.buttons>[name=button-2]
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-1.png.pagespeed.ce.-p3NeA5Upw.png);
	left: 718px;
	top: 200px;
}
#gamepads>li>.buttons>[name=button-3]
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-2.png.pagespeed.ce.PdbN14HZnO.png);
	left: 635px;
	top: 200px;
}
#gamepads>li>.buttons>[name=button-4]
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-3.png.pagespeed.ce.Jxg3EbwYIM.png);
	left: 677px;
	top: 158px;
}
#gamepads>li>.buttons>[name=button-dpad-bottom]
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-down.png.pagespeed.ce.sdrGn3LtVX.png);
	left: 246px;
	top: 242px;
}
#gamepads>li>.buttons>[name=button-dpad-right]
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-right.png.pagespeed.ce.w8AwHARxjh.png);
	left: 286px;
	top: 201px;
}
#gamepads>li>.buttons>[name=button-dpad-left]
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-left.png.pagespeed.ce.LbaW20zEEH.png);
	left: 203px;
	top: 201px;
}
#gamepads>li>.buttons>[name=button-dpad-top]
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-up.png.pagespeed.ce.S_ZhruAtXb.png);
	left: 244px;
	top: 159px;
}
#gamepads>li>.buttons>.select-start
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/button-select-start.png.pagespeed.ce.niLPezr-xE.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 41px 41px;
	height: 90px;
	position: absolute;
	width: 90px;
	z-index: 300;
}
#gamepads>li>.buttons>.select-start::after
{
	bottom: 25px;
	left: 25px;
	right: 24px;
	top: 25px;
}
#gamepads>li>.buttons>[name=button-select]
{
	left: 388px;
	top: 178px;
}
#gamepads>li>.buttons>[name=button-start]
{
	left: 492px;
	top: 178px;
}
#gamepads>li>.buttons>.stick
{
	background-image: url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/en/tutorials/doodles/gamepad/gamepad-tester/images/stick.png.pagespeed.ce.pwg1_6-aXy.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 91px 91px;
	height: 190px;
	position: absolute;
	width: 190px;
	z-index: 300;
}
#gamepads>li>.buttons>.stick::after
{
	bottom: 54px;
	left: 54px;
	right: 54px;
	top: 54px;
}
#gamepads>li>.buttons>[name=stick-1]
{
	left: 286px;
	top: 243px;
}
#gamepads>li>.buttons>[name=stick-2]
{
	left: 495px;
	top: 243px;
}
#gamepads>li>.labels label
{
	color: #000;
	display: block;
	font-family: Roboto,Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin-left: -60px;
	margin-top: 0;
	moz-transition: opacity 1500ms;
	moz-transition-delay: 500ms;
	opacity: 0.25;
	position: absolute;
	text-align: center;
	webkit-transition: opacity 1500ms;
	webkit-transition-delay: 500ms;
	width: 120px;
	z-index: 800;
}
#gamepads>li>.labels label::before,#gamepads>li>.labels label::after
{
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 11px;
}
#gamepads>li>.labels>.extra-inputs>label
{
	display: inline-block;
	margin-left: 0;
	position: static;
}
#gamepads>li>.labels>.extra-inputs>label::before
{
	content: attr(description);
}
#gamepads>li>.labels>.extra-inputs>label::after
{
	content: attr(access);
}
#gamepads>li>.labels label.visible
{
	moz-transition: opacity 100ms;
	moz-transition-delay: 0;
	opacity: 1!important;
	webkit-transition: opacity 100ms;
	webkit-transition-delay: 0;
}
#gamepads>li>.labels label.positive
{
	color: #008c00;
}
#gamepads>li>.labels label.negative
{
	color: #c80000;
}
#gamepads>li>.labels>label[for=button-1]
{
	left: 870px;
	top: 191px;
}
#gamepads>li>.labels>label[for=button-1]::before
{
	content: "Face button 1";
}
#gamepads>li>.labels>label[for=button-1]::after
{
	content: "buttons[0]";
}
#gamepads>li>.labels>label[for=button-2]
{
	left: 870px;
	top: 251px;
}
#gamepads>li>.labels>label[for=button-2]::before
{
	content: "Face button 2";
}
#gamepads>li>.labels>label[for=button-2]::after
{
	content: "buttons[1]";
}
#gamepads>li>.labels>label[for=button-3]
{
	left: 880px;
	top: 311px;
}
#gamepads>li>.labels>label[for=button-3]::before
{
	content: "Face button 3";
}
#gamepads>li>.labels>label[for=button-3]::after
{
	content: "buttons[2]";
}
#gamepads>li>.labels>label[for=button-4]
{
	left: 890px;
	top: 371px;
}
#gamepads>li>.labels>label[for=button-4]::before
{
	content: "Face button 4";
}
#gamepads>li>.labels>label[for=button-4]::after
{
	content: "buttons[3]";
}
#gamepads>li>.labels>label[for=button-dpad-top]
{
	left: 100px;
	top: 191px;
}
#gamepads>li>.labels>label[for=button-dpad-top]::before
{
	content: "D-pad top";
}
#gamepads>li>.labels>label[for=button-dpad-top]::after
{
	content: "buttons[12]";
}
#gamepads>li>.labels>label[for=button-dpad-left]
{
	left: 100px;
	top: 251px;
}
#gamepads>li>.labels>label[for=button-dpad-left]::before
{
	content: "D-pad left";
}
#gamepads>li>.labels>label[for=button-dpad-left]::after
{
	content: "buttons[14]";
}
#gamepads>li>.labels>label[for=button-dpad-right]
{
	left: 90px;
	top: 311px;
}
#gamepads>li>.labels>label[for=button-dpad-right]::before
{
	content: "D-pad right";
}
#gamepads>li>.labels>label[for=button-dpad-right]::after
{
	content: "buttons[15]";
}
#gamepads>li>.labels>label[for=button-dpad-bottom]
{
	left: 80px;
	top: 371px;
}
#gamepads>li>.labels>label[for=button-dpad-bottom]::before
{
	content: "D-pad bottom";
}
#gamepads>li>.labels>label[for=button-dpad-bottom]::after
{
	content: "buttons[13]";
}
#gamepads>li>.labels>label[for=button-left-shoulder-top]
{
	left: 210px;
	top: 10px;
}
#gamepads>li>.labels>label[for=button-left-shoulder-top]::before
{
	content: "Left top shoulder";
}
#gamepads>li>.labels>label[for=button-left-shoulder-top]::after
{
	content: "buttons[4]";
}
#gamepads>li>.labels>label[for=button-left-shoulder-bottom]
{
	left: 320px;
	top: 10px;
}
#gamepads>li>.labels>label[for=button-left-shoulder-bottom]::before
{
	content: "Left bottom shoulder";
}
#gamepads>li>.labels>label[for=button-left-shoulder-bottom]::after
{
	content: "buttons[6]";
}
#gamepads>li>.labels>label[for=button-right-shoulder-top]
{
	left: 750px;
	top: 10px;
}
#gamepads>li>.labels>label[for=button-right-shoulder-top]::before
{
	content: "Right top shoulder";
}
#gamepads>li>.labels>label[for=button-right-shoulder-top]::after
{
	content: "buttons[5]";
}
#gamepads>li>.labels>label[for=button-right-shoulder-bottom]
{
	left: 640px;
	top: 10px;
}
#gamepads>li>.labels>label[for=button-right-shoulder-bottom]::before
{
	content: "Right bottom shoulder";
}
#gamepads>li>.labels>label[for=button-right-shoulder-bottom]::after
{
	content: "buttons[7]";
}
#gamepads>li>.labels>label[for=button-select]
{
	left: 440px;
	top: 60px;
}
#gamepads>li>.labels>label[for=button-select]::before
{
	content: "Select";
}
#gamepads>li>.labels>label[for=button-select]::after
{
	content: "buttons[8]";
}
#gamepads>li>.labels>label[for=button-start]
{
	left: 540px;
	top: 60px;
}
#gamepads>li>.labels>label[for=button-start]::before
{
	content: "Start";
}
#gamepads>li>.labels>label[for=button-start]::after
{
	content: "buttons[9]";
}
#gamepads>li>.labels>label[for=stick-1-axis-x]
{
	left: 380px;
	top: 441px;
}
#gamepads>li>.labels>label[for=stick-1-axis-x]::before
{
	content: "First stick X";
}
#gamepads>li>.labels>label[for=stick-1-axis-x]::after
{
	content: "axes[0]";
}
#gamepads>li>.labels>label[for=stick-1-axis-y]
{
	left: 380px;
	top: 501px;
}
#gamepads>li>.labels>label[for=stick-1-axis-y]::before
{
	content: "First stick Y";
}
#gamepads>li>.labels>label[for=stick-1-axis-y]::after
{
	content: "axes[1]";
}
#gamepads>li>.labels>label[for=stick-1]
{
	left: 380px;
	top: 561px;
}
#gamepads>li>.labels>label[for=stick-1]::before
{
	content: "First stick button";
}
#gamepads>li>.labels>label[for=stick-1]::after
{
	content: "buttons[10]";
}
#gamepads>li>.labels>label[for=stick-2-axis-x]
{
	left: 590px;
	top: 441px;
}
#gamepads>li>.labels>label[for=stick-2-axis-x]::before
{
	content: "Second stick X";
}
#gamepads>li>.labels>label[for=stick-2-axis-x]::after
{
	content: "axes[2]";
}
#gamepads>li>.labels>label[for=stick-2-axis-y]
{
	left: 590px;
	top: 501px;
}
#gamepads>li>.labels>label[for=stick-2-axis-y]::before
{
	content: "Second stick Y";
}
#gamepads>li>.labels>label[for=stick-2-axis-y]::after
{
	content: "axes[3]";
}
#gamepads>li>.labels>label[for=stick-2]
{
	left: 590px;
	top: 561px;
}
#gamepads>li>.labels>label[for=stick-2]::before
{
	content: "Second stick button";
}
#gamepads>li>.labels>label[for=stick-2]::after
{
	content: "buttons[11]";
}
#gamepads.raw>li>.labels label
{
	opacity: 0.5;
}
#gamepads:not(.raw) > li > .labels > .extra-inputs
{
	bottom: 0;
	height: 60px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}
#gamepads.raw>li>.name
{
	display: none;
}
#gamepads.raw>li>.index
{
	left: 0;
	position: absolute;
	right: 0;
	text-shadow: none;
	top: 0;
	width: auto;
}
#gamepads.raw>li::after
{
	display: none;
}
#gamepads.raw>li>.buttons
{
	display: none;
}
#gamepads.raw>li>.labels
{
	margin: 0 50px;
	margin-top: 100px;
}
#gamepads.raw>li label
{
	display: inline-block;
	height: 80px;
	margin-left: 0;
	position: static;
}
#gamepads.raw>li>.labels>.extra-inputs
{
	margin-top: 50px;
}
body.iframe
{
	background: inherit;
}
body.iframe #menu
{
	position: fixed;
	width: 100%;
}
body.iframe #gamepads
{
	margin-top: 0;
	padding-top: 60px;
}
body.iframe h1,body.iframe h2
{
	display: none;
}
body.iframe #no-gamepads-connected,body.iframe #no-gamepad-support
{
	padding: 400px 50px 0 50px;
}