# Additional
demos/
docreator/
preprocessor/
analyzer/
effects/

# Project property files
*.html
*.bak
*.dds
*.png
*.zip
*.rar
*.back
*.prev

#project file
*.sublime-project
*.sublime-workspace

server.js