#idea project
src/.idea/

# Additional
demos/
docreator/
preprocessor/
analyzer/
effects/
compiled/

# Project property files
*.html
*.bak
*.dds
*.png
*.zip
*.rar
*.back
*.prev

#project file
*.sublime-project
*.sublime-workspace
*.sublime-build

#complete build
compiled/*.js
build/build.bat
build.bat

node_modules/


#visual
#*.config
*.suo
#*.sln
#*.csproj
*.user
#*.css

src/*.htm
#src2/*.htm

obj/
bin/
properties/

