body,
form,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
table {
  border: 0px;
  border-collapse: collapse;
}
table td {
  padding: 0px;
  vertical-align: top;
}
*:focus {
  outline: none;
}
/*Gradient mixins*/
body {
  background: #d3d3d3;
}
#IDE {
  margin: 0;
  width: 100%;
  min-height: 100%;
}
#work-area .title,
#preview-area .title {
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 0px 5px 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
#work-area {
  border-left: 5px solid #dfdfdf;
  border-right: 5px solid #dfdfdf;
  font-size: 12px;
  min-height: 760px;
  border-bottom: 5px solid #dfdfdf;
}
#work-area .component-tabs > .component-panel {
  min-height: 760px;
}
#work-area .component-tabs > .component-panel .component-graph {
  min-height: 550px;
}
#preview-area {
  min-height: 100%;
  border-left: 1px solid #a3a3a3;
  font-size: 12px;
  min-height: 760px;
  border-bottom: 5px solid #dfdfdf;
}
#preview-area div[name=resolution] {
  margin: -1px 0 -1px 0;
  text-align: right;
  background-color: #CCC;
}
#preview-area div[name=resolution] .component-button,
#preview-area div[name=resolution] .component-checkboxlist {
  display: inline-block;
}
#preview-area div[name=resolution] .component-checkboxlist .layout.horizontal table {
  margin: 0 auto;
}
#preview-area div[name=resolution] .component-checkboxlist .component-checkbox {
  padding: 1 4px;
  font-size: 11px;
}
#preview-area div[name=resolution] .component-checkboxlist .component-checkbox.first {
  border-radius: 0 !important;
}
#preview-area div[name=resolution] .component-checkboxlist .component-checkbox.last {
  border-radius: 0 !important;
}
#preview-area div[name=resolution] .component-checkboxlist .component-checkbox.active {
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
#preview-area .row > span:first-child {
  color: #c80000;
}
#preview-area .row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  font-family: Consolas, Lucida Console, monospace;
  font-size: 12px;
  background-color: white;
}
#preview-area .row.last {
  padding-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
}
#preview-area .row.first {
  padding-top: 15px;
}
#preview-area .row .component-switch,
#preview-area .row .component-button {
  display: inline-block;
}
#preview-area .row .component-button {
  padding: 1px 4px;
}
#preview-area .row .component-switch {
  margin-top: 0px;
  position: relative;
  bottom: 7px;
}
#tree-node {
  min-width: 165px;
}
#tree-node,
#tree,
#preview-area {
  padding: 0;
  font-size: 12px;
  border-right: 1px solid #a3a3a3;
}
#tree-node .component-panel div.panel-title:first-of-type,
#tree .component-panel div.panel-title:first-of-type,
#preview-area .component-panel div.panel-title:first-of-type {
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 0px 5px 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
#tree-node .component-panel div.panel-title:first-of-type div.controls,
#tree .component-panel div.panel-title:first-of-type div.controls,
#preview-area .component-panel div.panel-title:first-of-type div.controls {
  left: -20px;
  margin: -5px 0 0 0;
}
#tree-node .component-panel div.panel-title:first-of-type div.controls input,
#tree .component-panel div.panel-title:first-of-type div.controls input,
#preview-area .component-panel div.panel-title:first-of-type div.controls input {
  margin: 0px;
  background: url(../img/panel-opened.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 0, 5px 0;
  cursor: pointer;
  padding-right: 10px;
  position: relative;
  -webkit-appearance: none;
  -webkit-transition: .15s;
  display: none;
}
#tree-node .component-panel.collapsible div.panel-title:first-of-type div.controls input,
#tree .component-panel.collapsible div.panel-title:first-of-type div.controls input,
#preview-area .component-panel.collapsible div.panel-title:first-of-type div.controls input {
  display: block;
}
#tree-node .component-panel.collapsed div.panel-title:first-of-type div.controls input,
#tree .component-panel.collapsed div.panel-title:first-of-type div.controls input,
#preview-area .component-panel.collapsed div.panel-title:first-of-type div.controls input {
  background: url(../img/panel-closed.png) 0 0 no-repeat;
}
#tree-node .component-panel .layout.vertical table,
#tree .component-panel .layout.vertical table,
#preview-area .component-panel .layout.vertical table {
  margin: 0;
}
#tree {
  min-height: 510px;
  border-bottom: 5px solid #dfdfdf;
}
#tree ol.tree {
  padding: 15px 15px 15px 30px;
}
#tree ol.tree .unnamed {
  color: #a3a3a3;
}
#tree ol.tree li {
  position: relative;
  margin-left: -15px;
  list-style: none;
  white-space: nowrap;
}
#tree ol.tree li.file {
  margin-left: -1px !important;
  /*a {
						background: url(../img/document.png) 0 0 no-repeat;
						color: #fff;
						padding-left: 21px;
						text-decoration: none;
						display: block;
				}*/

}
#tree ol.tree li input {
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 12px;
  width: 12px;
  top: 0;
}
#tree ol.tree li input + ol {
  background: url(../img/tri-right.png) 40px 0px no-repeat;
  margin: -1.25em 0 0 -44px;
  height: 12px;
}
#tree ol.tree li input + ol > li {
  display: none;
  margin-left: -14px !important;
  padding-left: 1px;
}
#tree ol.tree li div.scene-object-show-btn {
  background: url(../img/scene-object-show.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  float: left;
}
#tree ol.tree li label {
  background: url(../img/node.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 37px;
}
#tree ol.tree li label.camera {
  background: url(../img/node-camera.png) 15px 1px no-repeat;
}
#tree ol.tree li label.shadow-caster {
  background: url(../img/node-shadow-caster.png) 15px 1px no-repeat;
}
#tree ol.tree li label.joint {
  background: url(../img/node-joint.png) 15px 1px no-repeat;
}
#tree ol.tree li label.scene-model {
  background: url(../img/node-scene-model.png) 15px 1px no-repeat;
}
#tree ol.tree li label.light-point {
  background: url(../img/node-light-point.png) 15px 1px no-repeat;
}
#tree ol.tree li label.model-entry {
  background: url(../img/node-collada.png) 15px 1px no-repeat;
}
#tree ol.tree li label.updating {
  background: url(../img/node-updating.gif) 15px 4px no-repeat;
}
#tree ol.tree li label.selected {
  background-color: #AAA;
}
#tree ol.tree li input:checked + ol {
  background: url(../img/tri-down.png) 40px 0px no-repeat;
  margin: -1.25em 0 0 -44px;
  padding: 1.563em 0 0 80px;
  height: auto;
}
#tree ol.tree li input:checked + ol > li {
  display: block;
  margin: 0 0 0.125em;
  /* 2px */

}
#tree ol.tree li input:checked + ol > li:last-child {
  margin: 0 0 0.063em;
  /* 1px */
}
#stage {
  float: left;
}
.component-fps {
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  height: 47px;
  width: 100%;
}
.component-fps .info {
  font-size: 11px;
  font-family: 'Consolas', monospace;
  color: gray;
  text-shadow: 0 0 2px white;
  padding: 1px;
  font-weight: bold;
  background: #ebebeb;
  background: -moz-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(31%, #dcdcdc), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: linear-gradient(to bottom, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#c8c8c8', GradientType=0);
  border-bottom: 1px solid #bdbdbd;
}
.component-fps .graph {
  /*background-color: gray;*/

  min-height: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  opacity: .75;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
  /*border-top: 1px solid yellow;*/

}
.component-fps .graph .tick {
  float: left;
  width: 1px;
  height: 0px;
  display: block;
  margin: 0;
  border-bottom: 1px solid yellow;
  border-top: 1px solid yellow;
}
.component-inspector {
  background-color: white;
  font-size: 12px;
}
.component-inspector div.node-type {
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
  color: black;
  background-color: #d3d3d3;
}
.component-inspector div.readonly {
  background-color: #e8e8e8;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #bdbdbd;
}
.component-inspector .row > span:first-child {
  color: #c80000;
}
.component-inspector .row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  font-family: Consolas, Lucida Console, monospace;
  font-size: 12px;
}
.component-inspector .row .component-vector {
  font-family: Consolas, Lucida Console, monospace;
}
.component-inspector .row .component-vector.editable {
  color: black;
}
.component-inspector .row .component-vector div.component-label {
  margin-right: -7px;
}
.component-inspector .row .component-vector span:last-of-type div.component-label {
  margin-right: 0px;
}
.component-inspector .row .component-vector > input[type=checkbox] {
  width: 10px;
  position: relative;
  top: 4px;
  left: -7px;
}
.component-inspector .row .component-label {
  display: inline-block;
  font-size: 12px;
  width: auto;
  font-family: Consolas, Lucida Console, monospace;
}
.component-inspector .row .component-label.editable {
  color: black;
}
.component-inspector .row .component-label .label-input {
  width: auto;
  font-size: 10px;
}
.component-inspector .row .component-checkboxlist {
  display: inline-block;
}
.component-inspector .row .component-checkboxlist .layout.horizontal table {
  margin: 0 auto;
}
.component-inspector .row .component-checkboxlist .component-checkbox {
  padding: 0 4px;
  font-size: 11px;
}
.component-inspector .row .component-checkboxlist .component-checkbox.first {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.component-inspector .row .component-checkboxlist .component-checkbox.last {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.component-inspector .row .component-checkboxlist .component-checkbox.active {
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
.component-inspector .row .component-animationcontroller {
  display: inline-block;
  border-radius: 5px;
  border: 1px dotted #CCC;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #EEE;
  cursor: pointer;
}
.component-inspector .row .component-animationcontroller:hover {
  border-color: gray;
  border-style: solid;
}
.component-inspector .row button[name=add-controller] {
  padding: 1px !important;
}
.component-inspector div[name=model-entry],
.component-inspector div[name=scene-model],
.component-inspector div[name=light-point],
.component-inspector div[name=animation-node],
.component-inspector div[name=camera],
.component-inspector div[name=scene],
.component-inspector div[name=animation-controller] {
  display: none;
}
.component-inspector div[name=model-entry] .row,
.component-inspector div[name=scene-model] .row,
.component-inspector div[name=light-point] .row,
.component-inspector div[name=animation-node] .row,
.component-inspector div[name=camera] .row,
.component-inspector div[name=scene] .row,
.component-inspector div[name=animation-controller] .row {
  padding: 0;
}
.component-inspector div[name=model-entry] .row .component-panel div.panel-title:first-of-type,
.component-inspector div[name=scene-model] .row .component-panel div.panel-title:first-of-type,
.component-inspector div[name=light-point] .row .component-panel div.panel-title:first-of-type,
.component-inspector div[name=animation-node] .row .component-panel div.panel-title:first-of-type,
.component-inspector div[name=camera] .row .component-panel div.panel-title:first-of-type,
.component-inspector div[name=scene] .row .component-panel div.panel-title:first-of-type,
.component-inspector div[name=animation-controller] .row .component-panel div.panel-title:first-of-type {
  border-top: 0px !important;
  padding-top: 1px;
  padding-bottom: 1px;
  background: none !important;
  background-color: #d3d3d3 !important;
  height: 15px;
  padding: 0 0 2px 40px !important;
}
.component-inspector div[name=model-entry] .row .component-panel div.panel-title:first-of-type div.controls,
.component-inspector div[name=scene-model] .row .component-panel div.panel-title:first-of-type div.controls,
.component-inspector div[name=light-point] .row .component-panel div.panel-title:first-of-type div.controls,
.component-inspector div[name=animation-node] .row .component-panel div.panel-title:first-of-type div.controls,
.component-inspector div[name=camera] .row .component-panel div.panel-title:first-of-type div.controls,
.component-inspector div[name=scene] .row .component-panel div.panel-title:first-of-type div.controls,
.component-inspector div[name=animation-controller] .row .component-panel div.panel-title:first-of-type div.controls {
  left: -30px !important;
  margin-top: -6px !important;
}
.component-inspector div[name=model-entry] .row .component-panel div.panel-title:first-of-type span,
.component-inspector div[name=scene-model] .row .component-panel div.panel-title:first-of-type span,
.component-inspector div[name=light-point] .row .component-panel div.panel-title:first-of-type span,
.component-inspector div[name=animation-node] .row .component-panel div.panel-title:first-of-type span,
.component-inspector div[name=camera] .row .component-panel div.panel-title:first-of-type span,
.component-inspector div[name=scene] .row .component-panel div.panel-title:first-of-type span,
.component-inspector div[name=animation-controller] .row .component-panel div.panel-title:first-of-type span {
  margin-left: -30px;
}
.component-inspector div[name=model-entry] .component-resourceproperties .row,
.component-inspector div[name=scene-model] .component-resourceproperties .row,
.component-inspector div[name=light-point] .component-resourceproperties .row,
.component-inspector div[name=animation-node] .component-resourceproperties .row,
.component-inspector div[name=camera] .component-resourceproperties .row,
.component-inspector div[name=scene] .component-resourceproperties .row,
.component-inspector div[name=animation-controller] .component-resourceproperties .row,
.component-inspector div[name=model-entry] .component-animationcontrollerproperties .row,
.component-inspector div[name=scene-model] .component-animationcontrollerproperties .row,
.component-inspector div[name=light-point] .component-animationcontrollerproperties .row,
.component-inspector div[name=animation-node] .component-animationcontrollerproperties .row,
.component-inspector div[name=camera] .component-animationcontrollerproperties .row,
.component-inspector div[name=scene] .component-animationcontrollerproperties .row,
.component-inspector div[name=animation-controller] .component-animationcontrollerproperties .row,
.component-inspector div[name=model-entry] .component-meshproperties .row,
.component-inspector div[name=scene-model] .component-meshproperties .row,
.component-inspector div[name=light-point] .component-meshproperties .row,
.component-inspector div[name=animation-node] .component-meshproperties .row,
.component-inspector div[name=camera] .component-meshproperties .row,
.component-inspector div[name=scene] .component-meshproperties .row,
.component-inspector div[name=animation-controller] .component-meshproperties .row,
.component-inspector div[name=model-entry] .component-lightproperties .row,
.component-inspector div[name=scene-model] .component-lightproperties .row,
.component-inspector div[name=light-point] .component-lightproperties .row,
.component-inspector div[name=animation-node] .component-lightproperties .row,
.component-inspector div[name=camera] .component-lightproperties .row,
.component-inspector div[name=scene] .component-lightproperties .row,
.component-inspector div[name=animation-controller] .component-lightproperties .row,
.component-inspector div[name=model-entry] .component-animationnodeproperties .row,
.component-inspector div[name=scene-model] .component-animationnodeproperties .row,
.component-inspector div[name=light-point] .component-animationnodeproperties .row,
.component-inspector div[name=animation-node] .component-animationnodeproperties .row,
.component-inspector div[name=camera] .component-animationnodeproperties .row,
.component-inspector div[name=scene] .component-animationnodeproperties .row,
.component-inspector div[name=animation-controller] .component-animationnodeproperties .row,
.component-inspector div[name=model-entry] .component-animationmaskproperties .row,
.component-inspector div[name=scene-model] .component-animationmaskproperties .row,
.component-inspector div[name=light-point] .component-animationmaskproperties .row,
.component-inspector div[name=animation-node] .component-animationmaskproperties .row,
.component-inspector div[name=camera] .component-animationmaskproperties .row,
.component-inspector div[name=scene] .component-animationmaskproperties .row,
.component-inspector div[name=animation-controller] .component-animationmaskproperties .row,
.component-inspector div[name=model-entry] .component-cameraevents .row,
.component-inspector div[name=scene-model] .component-cameraevents .row,
.component-inspector div[name=light-point] .component-cameraevents .row,
.component-inspector div[name=animation-node] .component-cameraevents .row,
.component-inspector div[name=camera] .component-cameraevents .row,
.component-inspector div[name=scene] .component-cameraevents .row,
.component-inspector div[name=animation-controller] .component-cameraevents .row,
.component-inspector div[name=model-entry] .component-sceneevents .row,
.component-inspector div[name=scene-model] .component-sceneevents .row,
.component-inspector div[name=light-point] .component-sceneevents .row,
.component-inspector div[name=animation-node] .component-sceneevents .row,
.component-inspector div[name=camera] .component-sceneevents .row,
.component-inspector div[name=scene] .component-sceneevents .row,
.component-inspector div[name=animation-controller] .component-sceneevents .row {
  padding: 0px 20px 1px 20px;
}
.component-inspector div[name=model-entry] .component-animationcontrollerproperties button[name=edit],
.component-inspector div[name=scene-model] .component-animationcontrollerproperties button[name=edit],
.component-inspector div[name=light-point] .component-animationcontrollerproperties button[name=edit],
.component-inspector div[name=animation-node] .component-animationcontrollerproperties button[name=edit],
.component-inspector div[name=camera] .component-animationcontrollerproperties button[name=edit],
.component-inspector div[name=scene] .component-animationcontrollerproperties button[name=edit],
.component-inspector div[name=animation-controller] .component-animationcontrollerproperties button[name=edit] {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 2px;
  margin-top: 10px;
}
.component-inspector div[name=model-entry] .component-switch,
.component-inspector div[name=scene-model] .component-switch,
.component-inspector div[name=light-point] .component-switch,
.component-inspector div[name=animation-node] .component-switch,
.component-inspector div[name=camera] .component-switch,
.component-inspector div[name=scene] .component-switch,
.component-inspector div[name=animation-controller] .component-switch {
  display: inline-block;
  position: relative;
  top: -5px;
  margin-left: 0px;
  margin-top: 0px;
}
.component-inspector div[name=model-entry] .component-switch label,
.component-inspector div[name=scene-model] .component-switch label,
.component-inspector div[name=light-point] .component-switch label,
.component-inspector div[name=animation-node] .component-switch label,
.component-inspector div[name=camera] .component-switch label,
.component-inspector div[name=scene] .component-switch label,
.component-inspector div[name=animation-controller] .component-switch label {
  height: 12px;
}
.component-inspector div[name=model-entry] .component-switch label:before,
.component-inspector div[name=scene-model] .component-switch label:before,
.component-inspector div[name=light-point] .component-switch label:before,
.component-inspector div[name=animation-node] .component-switch label:before,
.component-inspector div[name=camera] .component-switch label:before,
.component-inspector div[name=scene] .component-switch label:before,
.component-inspector div[name=animation-controller] .component-switch label:before {
  height: 12px;
}
.component-tabs > .bookmarks > .bookmark {
  background-color: #d3d3d3;
}
.component-animationmaskproperties {
  background-color: white;
}
.component-animationmaskproperties .panel-title {
  display: block;
}
.component-animationmaskproperties .component-slider {
  display: inline-block;
  background: #999;
  overflow: hidden;
}
.component-animationmaskproperties .component-slider .component-pin {
  width: 10px !important;
  background: black;
}
.component-animationmaskproperties .component-slider {
  height: 10px;
}
.component-animationmaskproperties .component-slider .component-pin {
  height: 10px;
  width: 10px;
}
.component-animationmaskproperties .component-slider {
  width: auto;
  min-width: 100px;
}
.component-animationmaskproperties .row {
  text-align: right;
  padding: 0px !important;
}
.component-animationmaskproperties .row > span {
  white-space: pre;
}
.component-animationmaskproperties .row.first {
  padding-top: 5px !important;
}
.component-animationmaskproperties .row.last {
  padding-bottom: 5px !important;
}
#menu .component-menu {
  display: inline-block;
}
div[name=load-collada-dlg] {
  width: 350px;
  height: 200px;
}
div[name=load-collada-dlg] .row > span:first-child {
  color: #c80000;
}
div[name=load-collada-dlg] .row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  font-family: Consolas, Lucida Console, monospace;
  font-size: 12px;
}
div[name=load-collada-dlg] .row .component-label {
  display: inline-block;
  font-size: 12px;
  width: auto;
  font-family: Consolas, Lucida Console, monospace;
}
div[name=load-collada-dlg] .row .component-label.editable {
  color: black;
}
div[name=load-collada-dlg] .row .component-label .label-input {
  width: auto;
  font-size: 10px;
}
div[name=load-collada-dlg] .component-checkboxlist {
  display: inline-block;
}
div[name=load-collada-dlg] .component-checkboxlist .layout.horizontal table {
  margin: 0 auto;
}
div[name=load-collada-dlg] .component-checkboxlist .component-checkbox {
  padding: 0 4px;
  font-size: 11px;
}
div[name=load-collada-dlg] .component-checkboxlist .component-checkbox.first {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
div[name=load-collada-dlg] .component-checkboxlist .component-checkbox.last {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
div[name=load-collada-dlg] .component-checkboxlist .component-checkbox.active {
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
.component-viewportproperties .row .component-label {
  font-family: Consolas;
}
.component-viewportproperties .row .component-label.file-drag-over {
  background: rgba(255, 255, 0, 0.5) !important;
}
.CodeMirror {
  border: 1px solid #eee;
}
.CodeMirror-scroll {
  height: 100%;
}
div[name=scene] {
  display: block !important;
}
.component-sceneevents {
  text-align: right;
}
.component-sceneevents > .row {
  padding: 0 10px 0 0 !important;
}
.component-sceneevents > .row .component-button {
  padding: 0 20px 0 20px;
  margin-right: 0;
  font-size: 11px;
}
.component-resourceproperties > div .component-panel .row .component-colladaanimation {
  display: inline-block;
  border-radius: 5px;
  border: 1px dotted #CCC;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #EEE;
  cursor: pointer;
}
.component-resourceproperties > div .component-panel .row .component-colladaanimation:hover {
  border-color: gray;
  border-style: solid;
}
.component-material .material {
  font-weight: bold;
}
.component-material .material img {
  position: relative;
  top: 4px;
  left: -10px;
}
.component-material .value {
  margin-left: 10px;
}
