/*Gradient mixins*/
/* Component */
.component {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.component .component-title {
  font-size: 12px;
  padding: 2px 8px;
  cursor: pointer;
}
/* Label */
.component-label {
  display: inline-block;
  position: static;
  min-height: 10px;
  width: auto;
}
.component-label.editable .label-text {
  cursor: text;
}
.component-label .label-input {
  display: inline-block;
}
.component-label .label-text {
  width: auto;
  cursor: default;
}
.component-vector {
  display: inline-block;
  white-space: nowrap;
}
.component-vector > div {
  display: inline;
}
/* Button */
.component-button {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 2px 8px;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 12px;
  margin-right: 6px;
  color: #222222;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.component-button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
/* Slider */
.component-slider {
  border: 1px solid #bbb;
  width: 100%;
  height: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf));
  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -moz-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -ms-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -o-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: linear-gradient(#d0d0d0, #dfdfdf);
  background-color: #d6d6d6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf));
  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -moz-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -ms-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -o-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: linear-gradient(#d0d0d0, #dfdfdf);
}
.component-slider .slider-progres {
  position: relative;
  border-radius: 5px 0px 0px 5px;
  height: 100%;
  width: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #5393c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
.component-slider .slider-text {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  width: 100%;
  top: -12px;
  opacity: 0.75;
  font-family: monospace;
  font-weight: bold;
}
.component-slider .component-pin {
  cursor: pointer;
  height: 100%;
  width: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-slider .component-pin:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.component-slider .component-pin.ui-draggable-dragging {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
/* Checkbox */
.component-checkbox {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 2px 8px;
  text-shadow: 0 1px 0 #ffffff;
  color: #222222;
  cursor: pointer;
  min-height: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-checkbox:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.component-checkbox.active {
  border: 1px solid #2373A5;
  color: white;
  text-shadow: 0  1px  0  #3373A5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
/* Checkbox List */
.component-checkboxlist .component-checkbox {
  margin: 0px;
  border-radius: 0px;
  display: inline-block;
}
.component-checkboxlist .component-checkbox.first {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}
.component-checkboxlist .component-checkbox.last {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
/* Horizontal */
.component-horizontal {
  min-height: 10px;
}
.component-fps {
  width: 100px;
  height: 47px;
  background-color: rgba(0, 0, 66, 0.65);
  cursor: pointer;
}
.component-fps .info {
  font-size: 11px;
  font-family: 'Consolas', monospace;
  color: white;
  padding: 1px;
  font-weight: bold;
}
.component-fps .graph {
  /*background-color: gray;*/

  min-height: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  opacity: .75;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
  /*border-top: 1px solid yellow;*/

}
.component-fps .graph .tick {
  float: left;
  width: 1px;
  height: 0px;
  display: block;
  margin: 0;
  border-bottom: 1px solid yellow;
  border-top: 1px solid yellow;
}
.component-tree li {
  font-size: 12px;
}
.component-panel div.panel-title:first-of-type div.controls {
  display: none;
  position: relative;
  left: 5px;
  top: 5px;
}
.component-panel.collapsible div.panel-title:first-of-type div.controls {
  display: inline-block;
}
div.component-switch {
  margin: 2px 4px;
  position: relative;
}
div.component-switch input {
  -webkit-appearance: none;
}
div.component-switch label {
  width: 26px;
  height: 15px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 1;
  left: 0;
  z-index: 2;
  background: #cccccc;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)), -webkit-linear-gradient(left, #ff6666 50%, #14ff00 50%);
  background-size: 100% 100%, 200% 100%;
  background-position: 0 0, 13px 0;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 -1px 2px 1px rgba(0, 0, 0, 0.25), 0 2px 2px 1px rgba(255, 255, 255, 0.75), 0 -2px 10px 2px rgba(255, 255, 255, 0.75), 0 2px 10px 2px rgba(0, 0, 0, 0.25);
}
div.component-switch label:before {
  width: 15px;
  height: 15px;
  display: block;
  content: ' ';
  position: absolute;
  left: 0px;
  background: #333333;
  border-radius: 15px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  box-shadow: inset 0 1px 1px 1px #ffffff, inset 0 -1px 0px 0px rgba(0, 0, 0, 0.25), 0 1px 2px 1px rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.25);
}
div.component-switch input:checked + label:before {
  left: 11px;
}
.component-tabs {
  padding: 0;
}
.component-tabs  > .bookmarks {
  background: lightgray;
  overflow: hidden;
  border-bottom: 1px solid #a3a3a3;
  border-top: 1px solid #a3a3a3;
  padding: 0 5px 0 5px;
  min-height: 24px;
}
.component-tabs  > .bookmarks  > .bookmark {
  min-width: 50px;
  display: inline-block;
  position: relative;
  z-index: 1;
  background-color: #cccccc;
  text-align: center;
  vertical-align: middle;
  height: 24px;
  line-height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.component-tabs  > .bookmarks  > .bookmark.active {
  z-index: 2;
  -webkit-box-shadow: inset 2px 0px 5px -2px #888888, inset -2px 0px 5px -2px #888888;
  background: -moz-linear-gradient(top, rgba(204, 204, 204, 0) 0%, rgba(94, 94, 94, 0.35) 49%, rgba(204, 204, 204, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(204, 204, 204, 0)), color-stop(49%, rgba(94, 94, 94, 0.35)), color-stop(100%, rgba(204, 204, 204, 0)));
  background: -webkit-linear-gradient(top, rgba(204, 204, 204, 0) 0%, rgba(94, 94, 94, 0.35) 49%, rgba(204, 204, 204, 0) 100%);
  background: -o-linear-gradient(top, rgba(204, 204, 204, 0) 0%, rgba(94, 94, 94, 0.35) 49%, rgba(204, 204, 204, 0) 100%);
  background: -ms-linear-gradient(top, rgba(204, 204, 204, 0) 0%, rgba(94, 94, 94, 0.35) 49%, rgba(204, 204, 204, 0) 100%);
  background: linear-gradient(to bottom, rgba(204, 204, 204, 0) 0%, rgba(94, 94, 94, 0.35) 49%, rgba(204, 204, 204, 0) 100%);
}
.component-tabs .component-panel .panel-title {
  display: none;
}
.component-tabs  > .component-panel .layout > table {
  width: 100%;
}
/*Graph Controls */
.component-graph-controls .controls {
  padding: 10px 0px;
}
/* Graph */
.component-graph {
  border: 1px solid #cccccc;
  min-height: 300px;
  background-color: #AAA;
}
/* Graph Node */
.component-graphnode {
  font-size: 12px;
}
.component-graphnode .component-title {
  background-color: #5393c5;
}
.component-graphnode .graph-node-table {
  border-collapse: collapse;
  border-spacing: 0;
}
.component-graphnode .graph-node-table td {
  padding: 0;
}
.component-graphnode td.graph-node-top,
.component-graphnode td.graph-node-left,
.component-graphnode td.graph-node-bottom,
.component-graphnode td.graph-node-right {
  text-align: center;
  vertical-align: middle;
}
.component-graphnode td.graph-node-top .component-connectionarea .layout td,
.component-graphnode td.graph-node-left .component-connectionarea .layout td,
.component-graphnode td.graph-node-bottom .component-connectionarea .layout td,
.component-graphnode td.graph-node-right .component-connectionarea .layout td {
  vertical-align: middle;
  text-align: center;
}
.component-graphnode td.graph-node-left, .component-graphnode td.graph-node-right {
  width: 7px;
  min-height: 30px;
}
.component-graphnode td.graph-node-left .component-graphconnector, .component-graphnode td.graph-node-right .component-graphconnector {
  margin-top: 2px;
  margin-bottom: 2px;
}
.component-graphnode td.graph-node-bottom, .component-graphnode td.graph-node-top {
  height: 7px;
  min-width: 100px;
}
.component-graphnode td.graph-node-bottom .component-graphconnector, .component-graphnode td.graph-node-top .component-graphconnector {
  margin-left: 2px;
  margin-right: 2px;
}
.component-graphnode td.graph-node-center {
  border: 1px solid rgba(255, 255, 0, 0.5);
  background-color: rgba(128, 128, 128, 0.75);
  width: 100px;
  height: 50px;
}
.component-graphnode .component-horizontal {
  background: rgba(255, 255, 255, 0.1);
}
.component-graphnode.highlight td.graph-node-center {
  box-shadow: 0 0 10px #ffb400;
}
.component-graphnode .layout {
  text-align: center;
  margin: 0;
}
.component-graphnode table {
  padding: 0;
  margin: 0;
}
.component-graphnode.open td.graph-node-center {
  box-shadow: 0 0 5px #00ff00;
}
.component-graphnode.blocked td.graph-node-center {
  box-shadow: 0 0 5px red;
}
/* Graph connector */
.component-graphconnector {
  display: inline-block;
  border: 1px solid white;
  background-color: gray;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}
.component-graphconnector.highlight {
  box-shadow: 0 0 5px #ff0000;
}
.component-graphconnector.connected {
  border: 0px;
  border-radius: 0px;
  width: 7px;
  height: 7px;
  background-color: black;
}
.component-animationgraph .component-animationgraphnode.selected {
  border-bottom: 3px solid red;
}
.component-animationdata .component-title, .component-animationplayer .component-title {
  background-color: rgba(100, 100, 100, 0.8);
  color: rgba(255, 255, 0, 0.8);
  text-shadow: 0px 1px 2px rgba(50, 50, 50, 0.95);
}
.component-animationdata.selected .component-title, .component-animationplayer.selected .component-title {
  background-color: rgba(255, 200, 0, 0.65);
  color: black;
  text-shadow: none;
}
.component-animationdata.selected div[type=node], .component-animationplayer.selected div[type=node] {
  border: 1px solid orange;
}
.component-animationdata div.controls, .component-animationplayer div.controls {
  text-align: center;
}
.component-animationdata div[type=node], .component-animationplayer div[type=node] {
  border: 1px solid rgba(255, 255, 0, 0.5);
  background-color: rgba(128, 128, 128, 0.75);
}
.component-animationdata.highlight div[type=node], .component-animationplayer.highlight div[type=node] {
  box-shadow: 0 0 10px #ffb400;
}
.component-animationdata .layout, .component-animationplayer .layout {
  text-align: center;
  margin: 0;
}
.component-animationdata table, .component-animationplayer table {
  padding: 0;
  margin: 0;
}
.component-animationdata.open div[type=node], .component-animationplayer.open div[type=node] {
  box-shadow: 0 0 5px #00ff00;
}
.component-animationdata.blocked div[type=node], .component-animationplayer.blocked div[type=node] {
  box-shadow: 0 0 5px red;
}
.component-animationdata .component-connectionarea .layout.horizontal, .component-animationplayer .component-connectionarea .layout.horizontal {
  height: 8px;
}
.component-animationdata .component-connectionarea .layout td, .component-animationplayer .component-connectionarea .layout td {
  vertical-align: middle;
  text-align: center;
}
.component-animationplayer .component-checkboxlist .layout.horizontal table {
  margin: 0 auto;
}
.component-animationplayer .component-checkboxlist .component-checkbox {
  padding: 1 4px;
  font-size: 11px;
}
.component-animationplayer .component-checkboxlist .component-checkbox.first {
  border-radius: 0 !important;
}
.component-animationplayer .component-checkboxlist .component-checkbox.last {
  border-radius: 0 !important;
}
.component-animationplayer .component-slider {
  height: 10px;
}
.component-animationplayer .component-slider .component-pin {
  height: 10px;
  width: 10px;
}
.component-animationplayer .component-slider {
  width: auto;
}
body,
form,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
table {
  border: 0px;
  border-collapse: collapse;
}
table td {
  padding: 0px;
  vertical-align: top;
}
body {
  background: #d3d3d3;
}
#IDE {
  margin: 0;
  width: 100%;
  min-height: 100%;
}
#work-area .title, #preview-area .title {
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 0px 5px 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
#work-area {
  border-left: 5px solid #dfdfdf;
  border-right: 5px solid #dfdfdf;
  font-size: 12px;
  min-height: 760px;
  border-bottom: 5px solid #dfdfdf;
}
#work-area .component-tabs  > .component-panel {
  min-height: 760px;
}
#work-area .component-tabs  > .component-panel .component-graph {
  min-height: 550px;
}
#preview-area {
  min-height: 100%;
  border-left: 1px solid #a3a3a3;
  font-size: 12px;
  min-height: 760px;
  border-bottom: 5px solid #dfdfdf;
}
#preview-area div[name=resolution] {
  margin: -1px 0 -1px 0;
  text-align: right;
  background-color: #CCC;
}
#preview-area div[name=resolution] .component-button, #preview-area div[name=resolution] .component-checkboxlist {
  display: inline-block;
}
#preview-area div[name=resolution] .component-checkboxlist .layout.horizontal table {
  margin: 0 auto;
}
#preview-area div[name=resolution] .component-checkboxlist .component-checkbox {
  padding: 1 4px;
  font-size: 11px;
}
#preview-area div[name=resolution] .component-checkboxlist .component-checkbox.first {
  border-radius: 0 !important;
}
#preview-area div[name=resolution] .component-checkboxlist .component-checkbox.last {
  border-radius: 0 !important;
}
#preview-area div[name=resolution] .component-checkboxlist .component-checkbox.active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
#preview-area .row > span:first-child {
  color: #c80000;
}
#preview-area .row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  font-family: Consolas, Lucida Console, monospace;
  font-size: 12px;
  background-color: white;
}
#preview-area .row.last {
  padding-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
}
#preview-area .row.first {
  padding-top: 15px;
}
#preview-area .row .component-switch, #preview-area .row .component-button {
  display: inline-block;
}
#preview-area .row .component-button {
  padding: 1px 4px;
}
#preview-area .row .component-switch {
  margin-top: 0px;
  position: relative;
  bottom: 7px;
}
#tree-node {
  min-width: 165px;
}
#tree-node, #tree, #preview-area {
  padding: 0;
  font-size: 12px;
  border-right: 1px solid #a3a3a3;
}
#tree-node .component-panel div.panel-title:first-of-type, #tree .component-panel div.panel-title:first-of-type, #preview-area .component-panel div.panel-title:first-of-type {
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 0px 5px 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
#tree-node .component-panel div.panel-title:first-of-type div.controls, #tree .component-panel div.panel-title:first-of-type div.controls, #preview-area .component-panel div.panel-title:first-of-type div.controls {
  left: -20px;
  margin: -5px 0 0 0;
}
#tree-node .component-panel div.panel-title:first-of-type div.controls input, #tree .component-panel div.panel-title:first-of-type div.controls input, #preview-area .component-panel div.panel-title:first-of-type div.controls input {
  margin: 0px;
  background: url(../img/panel-opened.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  background-position: 0 0, 5px 0;
  cursor: pointer;
  padding-right: 10px;
  position: relative;
  -webkit-appearance: none;
  -webkit-transition: .15s;
  display: none;
}
#tree-node .component-panel div.panel-title:first-of-type div.controls input:checked, #tree .component-panel div.panel-title:first-of-type div.controls input:checked, #preview-area .component-panel div.panel-title:first-of-type div.controls input:checked {
  background: url(../img/panel-closed.png) 0 0 no-repeat;
}
#tree-node .component-panel.collapsible div.panel-title:first-of-type div.controls input, #tree .component-panel.collapsible div.panel-title:first-of-type div.controls input, #preview-area .component-panel.collapsible div.panel-title:first-of-type div.controls input {
  display: block;
}
#tree-node .component-panel .layout.vertical table, #tree .component-panel .layout.vertical table, #preview-area .component-panel .layout.vertical table {
  margin: 0;
}
#tree {
  min-height: 510px;
  border-bottom: 5px solid #dfdfdf;
}
#tree ol.tree {
  padding: 15px 15px 15px 30px;
}
#tree ol.tree .unnamed {
  color: #a3a3a3;
}
#tree ol.tree li {
  position: relative;
  margin-left: -15px;
  list-style: none;
  white-space: nowrap;
}
#tree ol.tree li.file {
  margin-left: -1px !important;
  /*a {
						background: url(../img/document.png) 0 0 no-repeat;
						color: #fff;
						padding-left: 21px;
						text-decoration: none;
						display: block;
				}*/

}
#tree ol.tree li input {
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 12px;
  width: 12px;
  top: 0;
}
#tree ol.tree li input + ol {
  background: url(../img/tri-right.png) 40px 0px no-repeat;
  margin: -1.25em 0 0 -44px;
  height: 12px;
}
#tree ol.tree li input + ol > li {
  display: none;
  margin-left: -14px !important;
  padding-left: 1px;
}
#tree ol.tree li div.scene-object-show-btn {
  background: url(../img/scene-object-show.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  float: left;
}
#tree ol.tree li label {
  background: url(../img/node.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 37px;
}
#tree ol.tree li label.camera {
  background: url(../img/node-camera.png) 15px 1px no-repeat;
}
#tree ol.tree li label.shadow-caster {
  background: url(../img/node-shadow-caster.png) 15px 1px no-repeat;
}
#tree ol.tree li label.joint {
  background: url(../img/node-joint.png) 15px 1px no-repeat;
}
#tree ol.tree li label.scene-model {
  background: url(../img/node-scene-model.png) 15px 1px no-repeat;
}
#tree ol.tree li label.light-point {
  background: url(../img/node-light-point.png) 15px 1px no-repeat;
}
#tree ol.tree li label.model-entry {
  background: url(../img/node-collada.png) 15px 1px no-repeat;
}
#tree ol.tree li label.updating {
  background: url(../img/node-updating.gif) 15px 4px no-repeat;
}
#tree ol.tree li label.selected {
  background-color: #AAA;
}
#tree ol.tree li input:checked + ol {
  background: url(../img/tri-down.png) 40px 0px no-repeat;
  margin: -1.25em 0 0 -44px;
  padding: 1.563em 0 0 80px;
  height: auto;
}
#tree ol.tree li input:checked + ol > li {
  display: block;
  margin: 0 0 0.125em;
  /* 2px */

}
#tree ol.tree li input:checked + ol > li:last-child {
  margin: 0 0 0.063em;
  /* 1px */
}
#stage {
  float: left;
}
.component-fps {
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  height: 47px;
  width: 100%;
}
.component-fps .info {
  font-size: 11px;
  font-family: 'Consolas', monospace;
  color: gray;
  text-shadow: 0 0 2px white;
  padding: 1px;
  font-weight: bold;
  background: #ebebeb;
  background: -moz-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(31%, #dcdcdc), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: linear-gradient(to bottom, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ebebeb', endColorstr='#c8c8c8', GradientType=0);
  border-bottom: 1px solid #bdbdbd;
}
.component-fps .graph {
  /*background-color: gray;*/

  min-height: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  opacity: .75;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
  /*border-top: 1px solid yellow;*/

}
.component-fps .graph .tick {
  float: left;
  width: 1px;
  height: 0px;
  display: block;
  margin: 0;
  border-bottom: 1px solid yellow;
  border-top: 1px solid yellow;
}
.component-scenenodeproperties {
  background-color: white;
  font-size: 12px;
}
.component-scenenodeproperties div.node-type {
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  vertical-align: middle;
  padding: 0px 5px 0px 5px;
  color: black;
  background-color: #d3d3d3;
}
.component-scenenodeproperties div.readonly {
  background-color: #e8e8e8;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #bdbdbd;
}
.component-scenenodeproperties .row > span:first-child {
  color: #c80000;
}
.component-scenenodeproperties .row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  font-family: Consolas, Lucida Console, monospace;
  font-size: 12px;
}
.component-scenenodeproperties .row .component-vector {
  font-family: Consolas, Lucida Console, monospace;
}
.component-scenenodeproperties .row .component-vector.editable {
  color: black;
}
.component-scenenodeproperties .row .component-vector div.component-label {
  margin-right: -7px;
}
.component-scenenodeproperties .row .component-vector span:last-of-type div.component-label {
  margin-right: 0px;
}
.component-scenenodeproperties .row .component-label {
  display: inline-block;
  font-size: 12px;
  width: auto;
  font-family: Consolas, Lucida Console, monospace;
}
.component-scenenodeproperties .row .component-label.editable {
  color: black;
}
.component-scenenodeproperties .row .component-label .label-input {
  width: auto;
  font-size: 10px;
}
.component-scenenodeproperties .row .component-checkboxlist {
  display: inline-block;
}
.component-scenenodeproperties .row .component-checkboxlist .layout.horizontal table {
  margin: 0 auto;
}
.component-scenenodeproperties .row .component-checkboxlist .component-checkbox {
  padding: 0 4px;
  font-size: 11px;
}
.component-scenenodeproperties .row .component-checkboxlist .component-checkbox.first {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.component-scenenodeproperties .row .component-checkboxlist .component-checkbox.last {
  border-top-right-radius: : 2px;
  border-bottom-right-radius: 2px;
}
.component-scenenodeproperties .row .component-checkboxlist .component-checkbox.active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
.component-scenenodeproperties div[name=model-entry], .component-scenenodeproperties div[name=scene-model], .component-scenenodeproperties div[name=light-point] {
  display: none;
}
.component-scenenodeproperties div[name=model-entry] .row, .component-scenenodeproperties div[name=scene-model] .row, .component-scenenodeproperties div[name=light-point] .row {
  padding: 0;
}
.component-scenenodeproperties div[name=model-entry] .row .component-panel div.panel-title:first-of-type, .component-scenenodeproperties div[name=scene-model] .row .component-panel div.panel-title:first-of-type, .component-scenenodeproperties div[name=light-point] .row .component-panel div.panel-title:first-of-type {
  border-top: 0px !important;
  padding-top: 1px;
  padding-bottom: 1px;
  background: none !important;
  background-color: #d3d3d3 !important;
  height: 15px;
  padding: 0 0 2px 40px !important;
}
.component-scenenodeproperties div[name=model-entry] .row .component-panel div.panel-title:first-of-type div.controls, .component-scenenodeproperties div[name=scene-model] .row .component-panel div.panel-title:first-of-type div.controls, .component-scenenodeproperties div[name=light-point] .row .component-panel div.panel-title:first-of-type div.controls {
  left: -30px !important;
  margin-top: -6px !important;
}
.component-scenenodeproperties div[name=model-entry] .row .component-panel div.panel-title:first-of-type span, .component-scenenodeproperties div[name=scene-model] .row .component-panel div.panel-title:first-of-type span, .component-scenenodeproperties div[name=light-point] .row .component-panel div.panel-title:first-of-type span {
  margin-left: -30px;
}
.component-scenenodeproperties div[name=model-entry] .component-resourceproperties .row, .component-scenenodeproperties div[name=scene-model] .component-resourceproperties .row, .component-scenenodeproperties div[name=light-point] .component-resourceproperties .row {
  padding: 0px 20px 1px 20px;
}
.component-scenenodeproperties div[name=model-entry] .component-animationcontrollerproperties .row, .component-scenenodeproperties div[name=scene-model] .component-animationcontrollerproperties .row, .component-scenenodeproperties div[name=light-point] .component-animationcontrollerproperties .row {
  padding: 0px 20px 0px 20px;
}
.component-scenenodeproperties div[name=model-entry] .component-animationcontrollerproperties button[name=edit], .component-scenenodeproperties div[name=scene-model] .component-animationcontrollerproperties button[name=edit], .component-scenenodeproperties div[name=light-point] .component-animationcontrollerproperties button[name=edit] {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 2px;
  width: 100%;
  margin-top: 10px;
}
.component-scenenodeproperties div[name=model-entry] .component-switch, .component-scenenodeproperties div[name=scene-model] .component-switch, .component-scenenodeproperties div[name=light-point] .component-switch {
  display: inline-block;
  position: relative;
  top: -5px;
  margin-left: 0px;
  margin-top: 0px;
}
.component-scenenodeproperties div[name=model-entry] .component-switch label, .component-scenenodeproperties div[name=scene-model] .component-switch label, .component-scenenodeproperties div[name=light-point] .component-switch label {
  height: 12px;
}
.component-scenenodeproperties div[name=model-entry] .component-switch label:before, .component-scenenodeproperties div[name=scene-model] .component-switch label:before, .component-scenenodeproperties div[name=light-point] .component-switch label:before {
  height: 12px;
}
.component-scenenodeproperties div[name=model-entry] .component-meshproperties .row, .component-scenenodeproperties div[name=scene-model] .component-meshproperties .row, .component-scenenodeproperties div[name=light-point] .component-meshproperties .row {
  padding: 0px 20px 1px 20px;
}
.component-scenenodeproperties div[name=model-entry] .component-meshproperties div[name=shadows], .component-scenenodeproperties div[name=scene-model] .component-meshproperties div[name=shadows], .component-scenenodeproperties div[name=light-point] .component-meshproperties div[name=shadows] {
  height: 12px;
}
.component-tabs  > .bookmarks  > .bookmark {
  background-color: #d3d3d3;
}
