/*Gradient mixins*/
/* Component */
.component {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 12px;
  position: relative;
}
/* Label */
.component-label .label-input {
  display: none;
  width: 100%;
}
/* Button */
.component-button {
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 2px 8px;
  text-shadow: 0 1px 0 #ffffff;
  color: #222222;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.component-button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
/* Slider */
.component-slider {
  border-radius: 6px;
  border: 1px solid #bbb;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf));
  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -moz-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -ms-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -o-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: linear-gradient(#d0d0d0, #dfdfdf);
  background-color: #d6d6d6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf));
  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -moz-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -ms-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -o-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: linear-gradient(#d0d0d0, #dfdfdf);
}
.component-slider .slider-progres {
  border-radius: 5px 0px 0px 5px;
  height: 100%;
  width: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #5393c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
.component-slider .slider-pin {
  border-radius: 5px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-slider .slider-pin:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
/* Checkbox */
.component-checkbox {
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 2px 8px;
  text-shadow: 0 1px 0 #ffffff;
  color: #222222;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-checkbox:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.component-checkbox .active {
  border: 1px solid #2373A5;
  color: white;
  text-shadow: 0  1px  0  #3373A5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
/* Checkbox List */
.component-checkboxlist .component-checkbox {
  margin: 0px;
  border-radius: 0px;
}
.component-checkboxlist .component-checkbox .first {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}
.component-checkboxlist .component-checkbox .last {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
/*Graph Controls */
.component-graph-controls .controls {
  padding: 10px 0px;
}
/* Graph */
.component-graph {
  border: 1px solid #cccccc;
  min-height: 300px;
  background-color: #252525;
}
/* Graph Node */
.component-graphnode {
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.5);
}
.component-graphnode .graph-node-table {
  border-collapse: collapse;
}
.component-graphnode .graph-node-top {
  min-width: 100px;
  height: 15px;
}
.component-graphnode .graph-node-top:hover {
  background-color: #cccccc;
}
.component-graphnode .graph-node-left {
  width: 15px;
  height: 30px;
}
.component-graphnode .graph-node-left:hover {
  background-color: #cccccc;
}
.component-graphnode .graph-node-right {
  width: 15px;
  height: 30px;
}
.component-graphnode .graph-node-right:hover {
  background-color: #cccccc;
}
.component-graphnode .graph-node-bottom {
  min-width: 100px;
  height: 15px;
}
.component-graphnode .graph-node-bottom:hover {
  background-color: #cccccc;
}
/* Graph connector */
.component-graphconnector {
  border: 1px solid #000000;
  background-color: #000000;
  width: 5px;
  height: 5px;
  margin: 3px;
}
.component-graphconnector.highlight {
  box-shadow: 0 0 5px #ff0000;
}
