body {
  background: lightgray;
}
/*Gradient mixins*/
/* Component */
.component {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  position: relative;
}
.component .component-title {
  font-size: 12px;
  padding: 2px 8px;
  cursor: pointer;
}
/* Label */
.component-label {
  display: inline-block;
  position: static;
  min-height: 10px;
  width: 100%;
}
.component-label .label-input {
  display: none;
  width: 100%;
}
.component-label .label-text {
  width: 100%;
}
/* Button */
.component-button {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 2px 8px;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 12px;
  margin-right: 6px;
  color: #222222;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.component-button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
/* Slider */
.component-slider {
  border: 1px solid #bbb;
  width: 100%;
  height: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf));
  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -moz-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -ms-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -o-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: linear-gradient(#d0d0d0, #dfdfdf);
  background-color: #d6d6d6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#dfdfdf));
  background-image: -webkit-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -moz-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -ms-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: -o-linear-gradient(#d0d0d0, #dfdfdf);
  background-image: linear-gradient(#d0d0d0, #dfdfdf);
}
.component-slider .slider-progres {
  position: relative;
  border-radius: 5px 0px 0px 5px;
  height: 100%;
  width: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #5393c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
.component-slider .slider-text {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
  width: 100%;
  top: -12px;
  opacity: 0.75;
  font-family: monospace;
  font-weight: bold;
}
.component-slider .component-pin {
  cursor: pointer;
  height: 100%;
  width: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-slider .component-pin:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.component-slider .component-pin.ui-draggable-dragging {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
/* Checkbox */
.component-checkbox {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 2px 8px;
  text-shadow: 0 1px 0 #ffffff;
  color: #222222;
  cursor: pointer;
  min-height: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
  background-image: -o-linear-gradient(#ffffff, #f1f1f1);
  background-image: linear-gradient(#ffffff, #f1f1f1);
}
.component-checkbox:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
  background-color: #dfdfdf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -moz-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -ms-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: -o-linear-gradient(#f6f6f6, #e0e0e0);
  background-image: linear-gradient(#f6f6f6, #e0e0e0);
}
.component-checkbox.active {
  border: 1px solid #2373A5;
  color: white;
  text-shadow: 0  1px  0  #3373A5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
  background-color: #3373a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}
/* Checkbox List */
.component-checkboxlist .component-checkbox {
  margin: 0px;
  border-radius: 0px;
  display: inline-block;
}
.component-checkboxlist .component-checkbox.first {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}
.component-checkboxlist .component-checkbox.last {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
/* Horizontal */
.component-horizontal {
  min-height: 10px;
}
.component-fps {
  width: 100px;
  height: 47px;
  background-color: rgba(0, 0, 66, 0.65);
  cursor: pointer;
}
.component-fps .info {
  font-size: 11px;
  font-family: 'Consolas', monospace;
  color: white;
  padding: 1px;
  font-weight: bold;
}
.component-fps .graph {
  /*background-color: gray;*/

  min-height: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  opacity: .75;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
  /*border-top: 1px solid yellow;*/

}
.component-fps .graph .tick {
  float: left;
  width: 1px;
  height: 0px;
  display: block;
  margin: 0;
  border-bottom: 1px solid yellow;
  border-top: 1px solid yellow;
}
.component-tree li {
  font-size: 12px;
}
/*Graph Controls */
.component-graph-controls .controls {
  padding: 10px 0px;
}
/* Graph */
.component-graph {
  border: 1px solid #cccccc;
  min-height: 300px;
  background-color: #888;
  min-height: 100%;
}
/* Graph Node */
.component-graphnode {
  width: 100px;
  border: 1px solid #ffffff;
  background-color: #808080;
  box-shadow: 0px 0px 5px rgba(20, 20, 20, 0.7);
  font-size: 12px;
}
.component-graphnode .component-title {
  background-color: #5393c5;
}
.component-graphnode .graph-node-table {
  border-collapse: collapse;
  border-spacing: 0;
}
.component-graphnode .graph-node-table td {
  padding: 0;
}
.component-graphnode .graph-node-top {
  min-width: 100px;
  height: 10px;
}
.component-graphnode .graph-node-left {
  width: 10px;
  height: 30px;
}
.component-graphnode .graph-node-right {
  width: 10px;
  height: 30px;
}
.component-graphnode .graph-node-bottom {
  min-width: 100px;
  height: 10px;
}
.component-graphnode .component-horizontal {
  background: rgba(255, 255, 255, 0.1);
}
.component-graphnode .component .component-checkbox {
  margin: 0;
}
.component-graphnode.highlight {
  box-shadow: 0 0 10px #ffb400;
}
.component-graphnode .layout {
  text-align: center;
  margin: 0;
}
.component-graphnode table {
  padding: 0;
  margin: 0;
}
.component-graphnode.open {
  box-shadow: 0 0 5px #00ff00;
}
.component-graphnode.blocked {
  box-shadow: 0 0 5px red;
}
/* Graph connector */
.component-graphconnector {
  border: 1px solid #444;
  background-color: #666;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin: 0px;
}
.component-graphconnector.highlight {
  box-shadow: 0 0 5px #ff0000;
}
.component-graphconnector.in {
  border: 1px solid green;
}
.component-graphconnector.out {
  border: 1px solid blue;
}
.component-graphconnector.connected {
  border-radius: 10px;
}
.component-animationgraph .component-animationgraphnode.selected {
  border-bottom: 3px solid red;
}
.component-animationdata .controls, .component-animationplayer .controls {
  padding: 0 2px 0 2px;
}
.component-animationdata .controls .component-label, .component-animationplayer .controls .component-label {
  font-size: 12px;
}
.component-animationplayer .component-button,
.component-animationblender .component-button,
.component-animationplayer .component-checkbox,
.component-animationblender .component-checkbox {
  padding: 2px;
  font-size: 12px;
}
.component-animationblender .component-button {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
}
.component-animationmask .controls {
  width: 140px;
  max-height: 145px;
  overflow-y: scroll;
  overflow-x: auto;
}
.component-animationmask .controls .component-slider {
  width: 100% !important;
}
body,
form,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
table {
  border: 0px;
  border-collapse: collapse;
}
table td {
  padding: 0px;
  vertical-align: top;
}
#IDE {
  margin: 0;
  width: 100%;
  min-height: 100%;
}
.title {
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 0px 5px 30px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
#work-area {
  border-left: 5px solid #dfdfdf;
  border-right: 5px solid #dfdfdf;
  font-size: 12px;
  min-height: 760px;
  border-bottom: 5px solid #dfdfdf;
}
#preview-area {
  min-height: 100%;
  border-left: 1px solid #a3a3a3;
  font-size: 12px;
  min-height: 760px;
  border-bottom: 5px solid #dfdfdf;
}
#preview-area .title {
  float: left;
}
#preview-area .chose-resolution {
  height: ;
  text-align: right;
  padding: 5px 30px 5px 30px;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
}
#preview-area .chose-resolution a {
  color: gray;
  text-shadow: 0 0 2px white;
}
#preview-area .chose-resolution a:hover {
  color: black;
}
#tree {
  padding: 0;
  font-size: 12px;
  border-right: 1px solid #a3a3a3;
  min-height: 760px;
  border-bottom: 5px solid #dfdfdf;
}
#tree ol.tree {
  padding: 0 30px 0 30px;
}
#tree ol.tree .unnamed {
  color: #a3a3a3;
}
#tree ol.tree li {
  position: relative;
  margin-left: -15px;
  list-style: none;
  white-space: nowrap;
}
#tree ol.tree li.file {
  margin-left: -1px !important;
  /*a {
						background: url(../img/document.png) 0 0 no-repeat;
						color: #fff;
						padding-left: 21px;
						text-decoration: none;
						display: block;
				}*/

}
#tree ol.tree li input {
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 12px;
  width: 12px;
  top: 0;
}
#tree ol.tree li input + ol {
  background: url(../img/tri-right.png) 40px 0px no-repeat;
  margin: -1.25em 0 0 -44px;
  height: 12px;
}
#tree ol.tree li input + ol > li {
  display: none;
  margin-left: -14px !important;
  padding-left: 1px;
}
#tree ol.tree li label {
  background: url(../img/node.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 37px;
}
#tree ol.tree li label.camera {
  background: url(../img/node-camera.png) 15px 1px no-repeat;
}
#tree ol.tree li label.shadow-caster {
  background: url(../img/node-shadow-caster.png) 15px 1px no-repeat;
}
#tree ol.tree li label.joint {
  background: url(../img/node-joint.png) 15px 1px no-repeat;
}
#tree ol.tree li label.scene-model {
  background: url(../img/node-scene-model.png) 15px 1px no-repeat;
}
#tree ol.tree li label.light-point {
  background: url(../img/node-light-point.png) 15px 1px no-repeat;
}
#tree ol.tree li label.model-entry {
  background: url(../img/node-collada.png) 15px 1px no-repeat;
}
#tree ol.tree li label.updating {
  background: url(../img/node-updating.gif) 15px 4px no-repeat;
}
#tree ol.tree li input:checked + ol {
  background: url(../img/tri-down.png) 40px 0px no-repeat;
  margin: -1.25em 0 0 -44px;
  padding: 1.563em 0 0 80px;
  height: auto;
}
#tree ol.tree li input:checked + ol > li {
  display: block;
  margin: 0 0 0.125em;
  /* 2px */

}
#tree ol.tree li input:checked + ol > li:last-child {
  margin: 0 0 0.063em;
  /* 1px */
}
#stage {
  float: left;
}
.component-fps {
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  height: 47px;
  width: 100%;
}
.component-fps .info {
  font-size: 11px;
  font-family: 'Consolas', monospace;
  color: gray;
  text-shadow: 0 0 2px white;
  padding: 1px;
  font-weight: bold;
  background: #ebebeb;
  background: -moz-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(31%, #dcdcdc), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  background: linear-gradient(to bottom, #ebebeb 0%, #dcdcdc 31%, #c8c8c8 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ebebeb', endColorstr='#c8c8c8', GradientType=0);
  border-bottom: 1px solid #bdbdbd;
}
.component-fps .graph {
  /*background-color: gray;*/

  min-height: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  opacity: .75;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
  /*border-top: 1px solid yellow;*/

}
.component-fps .graph .tick {
  float: left;
  width: 1px;
  height: 0px;
  display: block;
  margin: 0;
  border-bottom: 1px solid yellow;
  border-top: 1px solid yellow;
}
