.plugin{
	padding: 10px 10px 10px 10px;
	min-width: 300px;
}

.plugin hr{
	margin: 5px 0px;
	clear: both;
}

.plugin .plugin-title{
	font-size: 16px;
	font-weight: bold; 
	float: left;
}

.plugin .plugin-menu-top{
	font-size: 13px;
	text-align: right;
	float: right;
	margin-right: 5px;
}

.plugin .plugin-menu-top .plugin-menu-show-all{
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url(../img/show-all.png);
	cursor: pointer;
}

.plugin .plugin-menu-top .plugin-menu-hide-all{
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url(../img/hide-all.png);
	cursor: pointer;
}

.plugin .plugin-menu-top .plugin-menu-update{
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url(../img/update.png);
	cursor: pointer;
}