.border-10px {
	border-width: 10px;
}
.border-8px {
	border-width: 8px;
}
.border-6px {
	border-width: 6px;
}
.border-4px {
	border-width: 4px;
}
.border-2px {
	border-width: 2px;
}

.border-orange {
	border-color: orange;
}
.border-red {
	border-color: orange;
}
.border-blue {
	border-color: orange;
}
.border-black {
	border-color: orange;
}