@import url(fonts.css);
html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,a,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	font-size:12px
}
table {
	border-collapse:collapse;
	border-spacing:0
}
td,td img {
	vertical-align:top
}
td,th {
	border:1px silver solid;
	padding:8px 20px;
	vertical-align:middle
}
th {
	text-align:center;
	font-weight:bold
}
input,select,button,textarea {
	margin:0;
	font-size:100%;
	font-family:'AGHelvetica',sans-serif
}
input[type="checkbox"] {
	vertical-align:bottom
}
input[type="radio"] {
	vertical-align:text-bottom
}
html,body {
	height:100%;
	background:#ebe9f6;
	font:14px/18px 'AGHelvetica',Arial,Helvetica,sans-serif;
	color:#000
}
table {
	border-collapse:collapse
}
h1,h2,h3,h4,p,ul,ol {
	margin:0 0 12px;
	font-weight:normal
}
h1 {
	font-size:18px;
	line-height:22px
}
h2 {
	font-size:16px;
	line-height:20px
}
h3 {
	font-size:14px;
	line-height:18px
}
h4 {
	font-size:12px;
	line-height:16px
}
ul,ol {
	margin-left:2.5em;
	margin-bottom:12px
}
li {
	line-height:18px
}
p {
	text-align:left
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:none
}
b {
	font-size:inherit
}
.b-page {
	display:block;
	margin:0;
	padding:0;
	min-width:1000px
}
.b-header {
	display:block;
	position:fixed;
	z-index:30;
	top:0;
	left:0;
	margin:0;
	padding:0 20px;
	width:100%;
	height:65px;
	background:#8b88a2 url(../images/header-lines-bg.png) center 6px no-repeat;
	-webkit-box-shadow:0 3px 5px 0 rgba(0,0,0,0.35);
	box-shadow:0 3px 5px 0 rgba(0,0,0,0.35)
}
.b-header .row1 {
	padding:8px 0 0 0;
	height:34px
}
.b-header .row1 .logo {
	display:block;
	float:left;
	margin:0;
	padding:0;
	width:190px;
	height:26px;
	background:url(../images/logo-api.png) center center no-repeat;
	text-indent:-99999px
}
.b-header .row1 .search {
	display:block;
	margin:0;
	position:relative;
	float:right
}
.b-header .row1 .search .text {
	display:block;
	margin:0;
	padding:0 35px 0 18px;
	height:23px;
	width:296px;
	background:#ece9ff;
	border:1px solid #6b6598;
	outline:0;
	color:#6f6f6f;
	border-radius:11px;
	-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.15);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.15)
}
.b-header .row1 .search .text::-webkit-input-placeholder {
	color:#6f6f6f
}
.b-header .row1 .search .text:-moz-placeholder {
	color:#6f6f6f
}
.b-header .row1 .search .submit {
	display:block;
	position:absolute;
	right:0;
	top:0;
	width:35px;
	height:23px;
	background:url(../images/magnifier.png) center center no-repeat;
	border:0;
	outline:0;
	cursor:pointer
}
.b-header .row2 {
	padding:0;
	height:31px
}
.b-header .row2 .logo {
	display:block;
	float:left;
	margin:0;
	padding:0;
	width:90px;
	height:31px;
	background:url(../images/logo.png) center center no-repeat;
	text-indent:-99999px
}
.b-header .row2 .menu {
	display:block;
	float:left;
	margin:0;
	padding:0
}
.b-header .row2 .menu .wrap .item {
	display:block;
	float:left;
	height:31px;
	background:url(../images/menu-bg.png) top right no-repeat
}
.b-header .row2 .menu .wrap .item .link {
	padding:0 14px;
	display:block;
	font-size:16px;
	color:#fff;
	text-decoration:none;
	height:31px;
	line-height:31px;
	text-shadow:0 0 4px rgba(0,0,0,0.44);
	-webkit-box-shadow:inset 10px 0 17px 0 rgba(0,0,0,0.2);
	box-shadow:inset 10px 0 17px 0 rgba(0,0,0,0.2)
}
.b-header .row2 .menu .wrap .item .link:hover {
	text-shadow:0 0 8px rgba(0,0,0,0.88)
}
.b-header .row2 .menu .wrap .item .link.namespaces {
	padding-left:38px;
	background:url(../images/top-menu-namespaces-icon.png) 7px center no-repeat
}
.b-header .row2 .menu .wrap .item .link.classes {
	padding-left:38px;
	background:url(../images/top-menu-classes-icon.png) 7px center no-repeat
}
.b-header .row2 .menu .wrap .item .link.function {
	padding-left:38px;
	background:url(../images/top-menu-function-icon.png) 7px center no-repeat
}
.b-header .row2 .menu .wrap .item .link.interfaces {
	padding-left:38px;
	background:url(../images/top-menu-interfaces-icon.png) 7px center no-repeat
}
.b-header .row2 .menu .wrap .item:first-child .link {
	-webkit-box-shadow:none;
	box-shadow:none
}
.b-navigate-row {
	display:block;
	position:fixed;
	margin:0;
	padding:0;
	top:65px;
	width:100%;
	height:21px;
	background:#b6b6b6;
	z-index:30;
	-webkit-box-shadow:0 3px 5px 0 rgba(0,0,0,0.35);
	box-shadow:0 3px 5px 0 rgba(0,0,0,0.35)
}
.b-navigate-row .left-column-bar {
	display:block;
	position:absolute;
	top:0;
	left:292px;
	margin:0;
	padding:0;
	width:18px;
	height:21px
}
.b-navigate-row .left-column-bar .bg {
	display:block;
	margin:5px 0 0 3px;
	padding:0;
	width:13px;
	height:11px
}
.b-navigate-row .left-column-bar.opened .bg {
	background:url(../images/left-column-bar.png) 0 0 no-repeat
}
.b-navigate-row .left-column-bar.closed .bg {
	background:url(../images/left-column-bar.png) 0 -11px no-repeat
}
.b-center {
	display:block;
	margin:86px 0 0;
	padding:0 0 97px;
	position:relative;
	z-index:8
}
.b-left {
	position:fixed;
	left:0;
	top:86px;
	bottom:0;
	padding:0;
	width:310px;
	background:#f2f2f4;
	z-index:50
}
.b-side-menu {
	margin:0;
	padding:5px 19px 5px 0;
	list-style:none
}
.b-side-menu .item {
	display:block;
	position:relative;
	margin:7px 0;
	padding:0;
}
.b-side-menu .item .wrap {
	position:relative;
	z-index:10;
	min-height:17px;
	margin:0 9px 0 15px;
	height: 17px;
}
.b-side-menu .item .wrap:hover {
	background-color:#e1e0e0!important
}
.b-side-menu .item .wrap:hover .text {
	background-color:#e1e0e0
}
.b-side-menu .item .wrap:hover .icon {
	background-color:#e1e0e0
}
.b-side-menu .item .wrap .arrow {
	display:block;
	float:left;
	height:17px;
	width:13px;
	background:#f2f2f4
}
.b-side-menu .item .wrap .arrow .bg {
	display:block;
	width:7px;
	height:7px;
	margin:5.5px 0 0 2px;
	background-image:url(../images/side-menu-arrow.png);
	background-repeat:no-repeat
}
.b-side-menu .item .wrap .arrow.opened .bg {
	background-position:0 0
}
.b-side-menu .item .wrap .arrow.closed .bg {
	background-position:0 -7px
}
.b-side-menu .item .wrap .icon {
	display:block;
	float:left;
	width:16px;
	height:17px;
	background-color:#f2f2f4;
	background-position:center center;
	background-repeat:no-repeat
}
.b-side-menu .item .wrap .icon.namespaces {
	background-image:url(../images/sm-namespaces-icon.png)
}
.b-side-menu .item .wrap .icon.classes {
	background-image:url(../images/sm-classes-icon.png)
}
.b-side-menu .item .wrap .icon.interfaces {
	background-image:url(../images/sm-interfaces-icon.png)
}
.b-side-menu .item .wrap .icon.enums {
	background-image:url(../images/sm-enums-icon.png)
}
.b-side-menu .item .wrap .icon.members {
	background-image:url(../images/sm-members-icon.png)
}
.b-side-menu .item .wrap .icon.functions {
	background-image:url(../images/sm-functions-icon.png)
}
.b-side-menu .item .wrap .text {
	display:block;
	padding:0 5px 0 7px;
	float:left;
	height:17px;
	font-size:14px;
	line-height:17px;
	color:#4c4c4c;
	text-decoration:none;
	background:#f2f2f4;
	max-width: 220px;
}
.b-side-menu .item .wrap .tree {
	display:block;
	position:absolute;
	right:0;
	top:-1px;
	width:17px;
	height:17px;
	background:url(../images/sm-tree-icon.png) center center no-repeat;
	-webkit-box-shadow:0 2px 42px 0 rgba(0,0,0,0.25);
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.25)
}
.b-side-menu .item.parent .wrap {
	background:url(../images/side-menu-parent-dot.png) 0 14px repeat-x
}
.b-side-menu .item .sub-menu {
	display:block;
	position:relative;
	z-index:13;
	margin:0 0 -7px 0;
	padding:5px 0 10px;
	background:url(../images/sm-sub-menu-vertical-line.png) 33px 0 repeat-y
}
.b-side-menu .item .sub-menu .legend {
	position:relative;
	z-index:13;
	padding:10px 10px 10px 28px;
	background:url(../images/sm-sub-menu-vertical-line.png);
	overflow:hidden;
	-webkit-box-shadow:0 3px 5px 0 rgba(0,0,0,0.35);
	box-shadow:0 3px 5px 0 rgba(0,0,0,0.35)
}
.b-side-menu .item .sub-menu .legend .link {
	display:block;
	float:left
}
.b-side-menu .item .sub-menu .legend .link img {
	display:block
}
.b-side-menu .item .sub-menu .legend .link.inactive {
	opacity:.3
}
.b-side-menu .item .sub-menu .legend .link.disabled {
	cursor:default;
	opacity:.3
}
.b-side-menu .item .sub-menu .legend .link.disabled:hover {
	-webkit-box-shadow:none;
	box-shadow:none
}
.b-side-menu .item .sub-menu .legend .link:hover {
	-webkit-box-shadow:0 0 4px 2px rgba(255,255,255,0.5);
	box-shadow:0 0 4px 2px rgba(255,255,255,0.5)
}
.b-side-menu .item .sub-menu .sub-wrap {
	position:relative;
	z-index:10;
	padding:10px 0 10px 28px;
	background:#e1e0e0
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list {
	display:block;
	margin:0;
	padding:0;
	list-style:none
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item {
	display:block;
	height:17px;
	line-height:17px;
	margin:4px 0 0 0;
	padding:0
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item:hover {
	background-color:#f2f2f4
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link {
	display:inline-block;
	padding:0 0 0 25px;
	color:#4c4c4c;
	font-size:14px;
	line-height:17px;
	text-decoration:none
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.methods {
	background:url(../images/sm-methods-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.members {
	background:url(../images/sm-members-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.accessors {
	background:url(../images/sm-accessors-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.getters {
	background:url(../images/sm-accessors-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.setters {
	background:url(../images/sm-accessors-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.signals {
	background:url(../images/sm-signals-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.static {
	background:url(../images/sm-static-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.functions {
	background:url(../images/sm-functions-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.interfaces {
	background:url(../images/sm-interfaces-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.constants {
	background:url(../images/sm-constants-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.enums {
	background:url(../images/sm-enums-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.classes {
	background:url(../images/sm-classes-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sub-list .sub-item .sub-link.namespaces {
	background:url(../images/sm-namespaces-icon.png) 0 center no-repeat
}
.b-side-menu .item .sub-menu .sub-wrap .sep {
	display:block;
	margin:10px 0;
	height:2px;
	background:#d2d0d0
}
.b-side-menu .item .sub-menu .sub-bottom-row {
	position:relative;
	z-index:15;
	height:20px;
	background:url(../images/sm-sub-menu-vertical-line.png);
	-webkit-box-shadow:0 -3px 5px 0 rgba(0,0,0,0.35);
	box-shadow:0 -3px 5px 0 rgba(0,0,0,0.35)
}
.b-side-menu .item.has-sub-menu {
	margin-bottom:-4px
}
.b-tree-menu {
	display:none;
	position:fixed;
	left:350px;
	top:120px;
	width:180px;
	max-height:350px;
	z-index:50;
	background:#fff;
	-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.3)
}
.b-tree-menu .b-tree-menu-wrap {
	overflow:hidden;
	width:180px;
	max-height:350px
}
.b-tree-menu .tree-list {
	display:block;
	margin:0;
	padding:12px 0 12px 10px;
	list-style:none
}
.b-tree-menu .tree-list .tree-item {
	display:block;
	height:18px;
	line-height:20px;
	margin:6px 0 0 0;
	padding:0
}
.b-tree-menu .tree-list .tree-item:hover {
	background-color:#e1e0e0
}
.b-tree-menu .tree-list .tree-item .tree-link {
	display:inline-block;
	padding:0 0 0 25px;
	color:#6a6a6a;
	font-size:14px;
	line-height:18px;
	text-decoration:none
}
.b-tree-menu .tree-list .tree-item .tree-link:hover {
	color:#000
}
.b-tree-menu .tree-list .tree-item .tree-link.namespaces {
	background:url(../images/sm-namespaces-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.methods {
	background:url(../images/sm-methods-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.members {
	background:url(../images/sm-members-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.accessors {
	background:url(../images/sm-accessors-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.signals {
	background:url(../images/sm-signals-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.static {
	background:url(../images/sm-static-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.functions {
	background:url(../images/sm-functions-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.interfaces {
	background:url(../images/sm-interfaces-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.constants {
	background:url(../images/sm-constants-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.enums {
	background:url(../images/sm-enums-icon.png) 0 center no-repeat
}
.b-tree-menu .tree-list .tree-item .tree-link.classes {
	background:url(../images/sm-classes-icon.png) 0 center no-repeat
}
.b-tree-menu.opened {
	display:block
}
.b-tree-menu .w-srcollbar-wrap {
	position:static!important;
	background:0;
	border:0
}
.b-tree-menu .w-srcollbar-wrap .w-srcollbar {
	display:none!important
}
.b-tree-menu .w-srcollbar-wrap .w-srcoll-top {
	width:180px!important;
	height:25px!important;
	left:0!important;
	top:-25px!important;
	background:#b6b6b6 url(../images/tree-menu-up.png) center 5px no-repeat!important;
	-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.b-tree-menu .w-srcollbar-wrap .w-srcoll-bottom {
	width:180px!important;
	height:25px!important;
	left:0!important;
	bottom:-25px!important;
	background:#b6b6b6 url(../images/tree-menu-down.png) center 5px no-repeat!important;
	-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.w-srcollbar-wrap {
	background-color:white;
	border:1px solid #d5d4d5;
	position:absolute;
	z-index:20;
	right:0;
	top:0;
	width:19px;
	background:#dfdfdf
}
.w-srcollbar-wrap .w-srcoll-top {
	top:0;
	position:absolute;
	cursor:pointer;
	background:url('../images/scroll-up.png') center center no-repeat
}
.w-srcollbar-wrap .w-srcoll-bottom {
	bottom:0;
	position:absolute;
	cursor:pointer;
	background:url('../images/scroll-down.png') center center no-repeat
}
.w-srcollbar-wrap .w-slider {
	background:#b6b6b6;
	position:relative
}
.b-content {
	display:block;
	margin:0 0 0 310px;
	padding:0 0 20px
}
.b-intro {
	margin:0;
	padding:12px 20px 12px 35px;
	background:#4d475b
}
.b-intro .menu {
	display:block;
	position:absolute;
	right:0;
	top:0;
	margin:0;
	padding:0
}
.b-intro .menu .wrap {
	padding:0 0 0 3px;
	height:23px;
	background:url(../images/intro-menu-sep.png) 0 0 no-repeat
}
.b-intro .menu .wrap .item {
	display:block;
	float:left;
	height:23px;
	padding:0 2px 0 0;
	background:url(../images/intro-menu-sep.png) top right no-repeat
}
.b-intro .menu .wrap .item .link {
	padding:0 9px;
	display:block;
	font-family:'Myriad Pro',sans-serif;
	font-size:14px;
	color:#d8d6e0;
	text-decoration:none;
	height:23px;
	line-height:23px;
	text-shadow:0 0 4px rgba(0,0,0,0.44)
}
.b-intro .menu .wrap .item .link:hover {
	background-color:#332e3f!important
}
.b-intro .menu .wrap .item .link.inactive {
	opacity:.3
}
.b-intro .menu .wrap .item .link.methods {
	padding-left:28px;
	background:url(../images/intro-menu-methods.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.members {
	padding-left:28px;
	background:url(../images/intro-menu-members.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.accessors {
	padding-left:28px;
	background:url(../images/intro-menu-accessors.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.signals {
	padding-left:28px;
	background:url(../images/intro-menu-signals.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.static {
	padding-left:28px;
	background:url(../images/intro-menu-static.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.namespaces {
	padding-left:28px;
	background:url(../images/intro-menu-namespaces.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.constants {
	padding-left:28px;
	background:url(../images/intro-menu-constants.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.enums {
	padding-left:28px;
	background:url(../images/intro-menu-enums.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.interfaces {
	padding-left:28px;
	background:url(../images/intro-menu-interfaces.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.classes {
	padding-left:28px;
	background:url(../images/intro-menu-classes.png) 3px center no-repeat
}
.b-intro .menu .wrap .item .link.functions {
	padding-left:28px;
	background:url(../images/intro-menu-function.png) 3px center no-repeat
}
.b-intro .title {
	display:block;
	position:relative;
	margin:5px 0 0 0;
	padding:0 0 0 60px;
	min-height:60px;
	font-family:'MagistralC',sans-serif
}
.b-intro .title .icon {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:46px
}
.b-intro .title .icon img {
	display:block;
	-webkit-box-reflect:below 0 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(60%,transparent),to(rgba(250,250,250,0.5)))
}
.b-intro .title .way {
	display:block;
	padding:1px 0 0 0;
	font-size:18px;
	line-height:22px;
	color:#6a6782
}
.b-intro .title .text {
	display:block;
	font-size:30px;
	line-height:16px;
	color:#b3b1c1;
	font-weight:bold
}
.b-intro .text {
	display:block;
	margin:0;
	padding:0
}
.b-intro .text p {
	font-family:'AGHelvetica Normal',sans-serif;
	margin:0;
	padding:0;
	font-size:14px;
	color:#b3b1c1
}
.b-intro-sep {
	display:block;
	background:#ccc;
	min-height:50px;
	-webkit-box-shadow:0 3px 5px 0 rgba(0,0,0,0.35);
	box-shadow:0 3px 5px 0 rgba(0,0,0,0.35)
}
.b-alphabet {
	display:block;
	margin:0;
	padding:0 0 0 35px;
	float:left
}
.b-alphabet .row1 {
	white-space:nowrap;
	cursor:default
}
.b-alphabet .row1 a {
	display:inline-block;
	margin:0 0 0 -7px;
	padding:0
}
.b-alphabet .row1 .letter {
	display:block;
	margin:0;
	padding:10px 0 0 0;
	width:30px;
	height:36px;
	font-size:24px;
	line-height:1em;
	font-weight:bold;
	text-transform:uppercase;
	color:#acabae;
	text-align:center
}
.b-alphabet .row1 .letter.active {
	color:#717071
}
.b-alphabet .row1 .letter:hover {
	background:#898690;
	color:#fff
}
.b-alphabet .row2 {
	text-align:center;
	cursor:default
}
.b-alphabet .row2 a {
	display:inline-block;
	margin:0;
	padding:0
}
.b-alphabet .row2 .letter {
	display:block;
	margin:0 0 15px;
	padding:5px 0 0 0;
	height:18px;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	color:#717071;
	text-align:center
}
.b-description {
	margin:0;
	padding:20px 20px 20px 60px
}
.b-description-wrap {
	display:block;
	margin:0 0 0 75px
}
.b-description-title {
	display:block;
	margin:55px 0 35px 75px;
	padding:0 0 4px 38px;
	height:39px;
	line-height:35px;
	font-family:'MagistralC',sans-serif;
	font-size:30px;
	font-weight:bold;
	color:#6a6782;
	border-bottom:1px solid #d6d3e7
}
.b-description-title:first-child {
	margin-top:0
}
.b-description-title.methods {
	background:url(../images/title-methods.png) -1px 0 no-repeat
}
.b-description-title.members {
	background:url(../images/title-members.png) -1px 0 no-repeat
}
.b-description-title.accessors {
	background:url(../images/title-accessors.png) -1px 0 no-repeat
}
.b-description-title.signals {
	background:url(../images/title-signals.png) -1px 0 no-repeat
}
.b-description-title.static {
	background:url(../images/title-static.png) -1px 0 no-repeat
}
.b-description-title.interfaces {
	background:url(../images/title-interfaces.png) -1px 0 no-repeat
}
.b-description-title.functions {
	background:url(../images/title-functions.png) -1px 0 no-repeat
}
.b-description-title.classes {
	background:url(../images/title-classes.png) -1px 0 no-repeat
}
.b-description-title.namespaces {
	background:url(../images/title-namespaces.png) -1px 0 no-repeat
}
.b-description-title.enums {
	background:url(../images/title-enums.png) -1px 0 no-repeat
}
.b-description-title.constants {
	background:url(../images/title-constants.png) -1px 0 no-repeat
}
.b-description-title2 {
	display:block;
	margin:0 0 15px 75px;
	padding:0 0 0 38px;
	height:28px;
	line-height:24px;
	font-family:'MagistralC',sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#6a6782
}
.b-description-title2 .text {
	display:block;
	height:28px;
	line-height:24px;
	font-family:'MagistralC',sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#6a6782;
	border-bottom:1px solid #e2dff0
}
.b-description-title2.public-methods {
	background:url(../images/title-public-methods.png) 0 0 no-repeat
}
.b-description-title2.privat-methods {
	background:url(../images/title-privat-methods.png) 0 0 no-repeat
}
.b-description-title2.protected-methods {
	background:url(../images/title-protected-methods.png) 0 0 no-repeat
}
.b-single-methods-wrap {
	margin:0 0 15px
}
.b-single-method {
	display:block;
	margin:0;
	padding:0
}
.b-single-method .top-row {
	display:block;
	margin:0;
	padding:6px 0 6px;
	position:relative
}
.b-single-method .top-row .arrow {
	display:block;
	position:absolute;
	left:5px;
	top:4px;
	margin:0;
	padding:0;
	width:25px;
	height:25px
}
.b-single-method .top-row .arrow .bg {
	display:block;
	margin:6px 0 0 6px;
	width:13px;
	height:13px;
	background:url(../images/single-method-arrow.png) 0 0 no-repeat
}
.b-single-method .top-row .type {
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	left:40px;
	top:6px;
	font-size:15px;
	line-height:1.4em;
	font-weight:bold;
	color:#6f0000
}
.b-single-method .top-row .title {
	white-space:pre;
	margin:0 0 0 110px;
	padding:0;
	font-weight:bold;
	font-size:15px;
	line-height:1.4em
}
.b-single-method .top-row .intro {
	margin:0 0 0 110px;
	font-size:13px;
	line-height:1.4em;
	color:#686675
}
.b-single-method .top-row .multicast {
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	right:10px;
	top:1px;
	width:31px;
	height:30px;
	background:url(../images/multicast.png) 0 0 no-repeat
}
.b-single-method .top-row .unicast {
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	right:10px;
	top:13px;
	width:29px;
	height:6px;
	background:url(../images/unicast.png) 0 0 no-repeat
}
.b-single-method .top-row .deprecated {
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	right:5px;
	top:5px;
	width:128px;
	height:36px;
	background:url(../images/deprecated.png) 0 0 no-repeat
}
.b-single-method .bottom-row {
	display:block
}
.b-single-method .bottom-row .description {
	white-space:pre-wrap;
	margin:0 0 0 110px;
	padding:5px 0 0 0;
	font-size:15px;
	line-height:1.4em
}
.b-single-method .bottom-row .description p {
	margin:0 0 10px;
	font-size:15px
}
.b-single-method.closed .description {
	display:none
}
.b-single-method.opened {
	-webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 4px 0 rgba(0,0,0,0.3)
}
.b-single-method.opened .top-row {
	position:relative;
	z-index:12;
	-webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
	box-shadow:0 0 4px 0 rgba(0,0,0,0.3);
	background:#d5d2e7
}
.b-single-method.opened .top-row .arrow .bg {
	background-position:0 -13px
}
.b-single-method.opened .bottom-row {
	position:relative;
	z-index:10;
	padding:7px 0 10px;
	background:#f3f1ff
}
.b-single-method.opened .intro {
	display:none
}
.b-code {
	white-space:pre-wrap;
	margin:0 0 0 110px;
	padding:5px 0 0 0;
	font-size:15px;
	line-height:1.4em
}
.b-code p {
	margin:0 0 10px;
	font-size:15px
}
.warning {
	display:inline-block;
	margin:0 0 10px;
	padding:7px 30px 7px 10px;
	background:#ffede1;
	border:1px solid #f5d7cf
}
.bold {
	font-weight:bold;
	font-size:15px
}
.red {
	color:#6f0000;
	font-size:15px
}
.blue {
	color:#001eff;
	font-size:15px
}
.green {
	color:#0e810e;
	font-size:15px
}
.inactive {
	color:#b9b8b8;
	font-size:15px
}
.b-alphabet-column {
	display:block
}
.b-alphabet-column .header {
	background:#c1bcd9;
	margin:0 0 15px;
	padding:7px
}
.b-alphabet-column .header .main {
	font-size:18px;
	font-weight:bold;
	color:#fff
}
.b-alphabet-column .header .additional {
	font-size:18px;
	font-weight:bold;
	color:#ebe9f6
}
.b-alphabet-column .content {
	display:block;
	margin:0 0 15px
}
.b-alphabet-column .content .title {
	display:block;
	margin:0;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#4c4c4c;
	overflow:hidden;
	font-size:13px;
	line-height:1.4em
}
.b-alphabet-column .content .title a {
	color:#4c4c4c;
	font-size:13px;
	line-height:1.4em
}
.b-alphabet-column .content .title a:hover {
	color:#02004b
}
.b-alphabet-column .content .title a.function-link:hover {
	color:#001eff
}
.b-alphabet-column .content .title a.function-link:hover span {
	color:#001eff!important
}
.b-alphabet-column .content .text {
	display:block;
	margin:-1px 0 5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#b9b8b8;
	overflow:hidden;
	font-size:10px;
	line-height:1em
}
.b-footer-wrap {
	position:fixed;
	bottom:0;
	left:0;
	z-index:30;
	width:100%;
	height:97px;
	background:url(../images/footer-bg.png) 0 repeat-x
}
.b-footer {
	position:relative;
	width:910px;
	height:85px;
	margin:0 auto;
	padding:12px 0 0
}
.b-footer-menu {
	display:block;
	margin:0;
	padding:0 0 0 3px;
	float:left;
	height:83px;
	background:url(../images/footer-menu-sep.png) 0 0 no-repeat;
	list-style:none
}
.b-footer-menu-item {
	display:block;
	float:left;
	margin:0;
	padding:0 3px 0 0;
	height:83px;
	background:url(../images/footer-menu-sep.png) right 0 no-repeat
}
.b-footer-sub-menu {
	display:block;
	margin:10px 40px 0 16px;
	padding:0;
	list-style:none
}
.b-footer-sub-menu-item {
	display:block;
	margin:0;
	padding:0;
	line-height:1em
}
.b-footer-sub-menu-item-link {
	color:#fff;
	font-size:10px;
	text-decoration:none
}
.b-footer-sub-menu-item-link:hover {
	color:#f99d1c
}
.b-footer-sub-menu-item.active .b-footer-sub-menu-item-link {
	color:#f99d1c
}
.b-footer-copy {
	display:block;
	float:left;
	margin:24px 0 0 38px;
	padding:0
}
.b-footer-copy p {
	margin:0;
	padding:0;
	color:#fff;
	font-size:10px
}
.clr {
	clear:both
}

.searchblock {
	width: 300px;
	min-height: 240px;
	max-height: 500px;
	overflow-y: auto;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 5px;
	position: fixed;
	top: 45px;
	right: 15px;
	background: white;
	box-shadow: #333 0px 0px 10px;
	z-index: 40;
}

.searchblock .results {
	list-style: none;
	margin:0px;
}

.searchblock .results .section {

}

.searchblock .results .section .name {
	padding-left:22px;
	/*font-family: 'MagistralC',sans-serif;*/
	font-size: 22px;
	font-weight: bold;
	color: #6a6782;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #CECDDA;
}

.searchblock .results .section .name.modules {
	background: url(../images/sm-namespaces-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .name.enums {
	background: url(../images/sm-enums-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .name.enumKeys {
	background: url(../images/sm-enums-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .name.interfaces {
	background: url(../images/sm-interfaces-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .name.interfaceMembers {
	background: url(../images/sm-methods-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .name.variables {
	background: url(../images/sm-members-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .name.functions {
	background: url(../images/sm-functions-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .name.classes {
	background: url(../images/sm-classes-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .name.classMembers {
	background: url(../images/sm-accessors-icon.png) 1px 0 no-repeat;
}

.searchblock .results .section .entry {
	margin:0px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 4px;
}

.searchblock .results .section .entry-name {
	/*font-family: 'MagistralC',sans-serif;*/
	font-size: 14px;
	font-weight: bold;
	color: #6B97DA;
}

.searchblock .results .section .entry-info {
	/*font-family: 'MagistralC',sans-serif;*/
	font-size: 12px;
	/*font-weight: bold;*/
	margin:0px;
	padding-left: 5px;
}

.searchblock .results .section .entry:hover {
	background-color: #E6E4F5;

}