<component type="Canvas">
	<canvas width="100%" height="100%" />
</component>


<component type="Label">
	<div class='label-text'></div>
	<input class='label-input' type='text' value=''/>
</component>

<component type="Pin">
</component>

<component type="Slider">
	<component type="Pin"></component>
</component>

<component type="Checkbox">
	<span class="checkbox-item-text"></span>
</component>

<component type="GraphControls">
	<div class="controls"></div>
	<component type="Graph"></component>
</component>

<component type="AnimationControls">
	<div class="controls"></div>
	<component type="AnimationGraph"></component>
</component>

<component type="GraphNode">
	<table class='graph-node-table'>
		<tr>
			<td class="graph-node-top" side="top" colspan="3">
				<layout type="Horizontal" align="center"></layout>
			</td>
		</tr>
		<tr>
			<td class="graph-node-left" side="left">
				<layout type="Vertical"></layout>
			</td>
			<td class="graph-node-center"></td>
			<td class="graph-node-right" side="right">
				<layout type="Vertical"></layout>
			</td>
		</tr>
		<tr>
			<td class="graph-node-bottom" side="bottom" colspan="3">
				<layout type="Horizontal" align="center"></layout>
			</td>
		</tr>
	</table>
</component>

<component type="AnimationData">
	<div class="component-title">Animation Data</div>
	<div class="controls">
		<component type="Label" text="unknown data"></component>
	</div>
	<layout type="Horizontal" align="center"></layout>
</component>

<component type="AnimationBlender">
	<div class="component-title">Blender</div>
	<component type="Label" text="Title"></component>
	<table class='graph-node-table'>
		<tr>
			<td colspan="2" class="graph-node-left" side="left">
				<layout type="Vertical"></layout>
			</td>
			<td class="graph-node-center-left" style="min-width: 40px;">
			</td>
			<td class="graph-node-center-right" style="min-width: 40px;">
			</td>
			<td colspan="2" class="graph-node-right" side="right">
				<layout type="Vertical"></layout>
			</td>
		</tr>
	</table>
</component>

<component type="AnimationMask">
	<layout type="Horizontal" align="center"></layout>
	<div class="component-title">Animation Mask</div>
	<div class="controls">
		
	</div>
	<layout type="Horizontal" align="center"></layout>
</component>

<component type="AnimationPlayer">
	<layout type="Horizontal" align="center"></layout>
	<div class="component-title">Animation Player</div>
	<div class="controls">
		<component type="Label" text="Title"></component>
		<component type="CheckboxList">
			<component type="Checkbox" text="Play"></component>
			<component type="Checkbox" text="Pause"></component>
		</component>
		<component type="Checkbox" text="Loop"></component>
		<component type="Checkbox" text="Reverse"></component>
		<div>Speed: <component type="Label"></component>x</div>
		<component type="Slider"></component>
	</div>
	<layout type="Horizontal" align="center"></layout>
</component>