link(href='../css/noncompatible.css', rel='stylesheet')
#non-compatible
  div.splashscreen
    h1 Oops, we have a problem :(
      div.h3.error See console log for details.
      div 
        div.h2 Try a different browser
        a(href='https://www.google.com/intl/en/chrome/browser/')
          img(src='../img/chrome.png')
        a(href='http://www.mozilla.org/')
          img(src='../img/firefox.png')
        a(href='http://www.opera.com/')
          img(src='../img/opera.png')
        a(href='http://browser.yandex.com/')
          img(src='../img/yandex.png')